<tr>
  <td>
    <%= catalog.id %>
  </td>
  <td>
    <%= link_to catalog_path(catalog) do %>
      <%= catalog.name %>
    <% end %>
  </td>

  <!-- <td><%#= catalog.slug %></td> -->
  <!-- <td><%#= catalog.code %></td> -->

  <td><%= catalog.projects_count %></td>

  <!-- <td><%#= link_to 'Edit', edit_catalog_path(catalog) %></td> -->
  <!-- <td><%#= link_to 'Destroy', catalog_path(catalog), method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
</tr>
