<div class="row">
  <div class="col-md-9">
    <ul>
      <% @catalogs.each do |catalog| %>
        <li>
          <%= link_to catalog_path(catalog) do %>
            <%= catalog.name %>
          <% end %>
        </li>

        <ul>
          <% catalog.categories.each do |category| %>
            <li>
              <%= link_to category.name, category %>
            </li>
          <% end %>
        </ul>
      <% end %>

    </ul>
  </div>

  <div class="col-md-3">
    col-md-3
  </div>
</div>
