<% set_meta_tags title: "#{@users.size} 用户推荐了 #{@project.show_name}" %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2>
      <%= @users.size %>

      用户推荐了
      <%= link_to repo_path(@project.repo_params) do %>
        <%= @project.show_name %>
      <% end %>
    </h2>
  </div>

  <div class="panel-body">
    <ul class="media-list">
      <%= render partial: "users/info", collection: @users, as: :user %>
    </ul>
  </div>
</div>
