<p>
  <strong>User:</strong>
  <%= @user_star_project.user_id %>
</p>

<p>
  <strong>Project:</strong>
  <%= @user_star_project.project_id %>
</p>

<%= link_to 'Edit', edit_user_star_project_path(@user_star_project) %> |
<%= link_to 'Back', user_star_projects_path %>
