<% set_meta_tags title: "编辑：#{@article.title}" %>

<%= stylesheet_link_tag 'simditor/simditor' %>
<%= stylesheet_link_tag 'rich_media' %>

<%= javascript_include_tag 'simditor/all' %>

<div class="bg-with-white">
  <div class="rich_media_inner">
    <h1 class="title">Editing Article</h1>

    <div class="article-content">
      <%= render 'form', article: @article %>
    </div>
  </div>
</div>