<% set_meta_tags title: "文章列表" %>

<%= stylesheet_link_tag 'rich_media' %>

<div class="bg-with-white">
  <div class="rich_media_inner">
    <h1 class="title">
      最新文章

      <small class="pull-right">
        <%= link_to "发布文章", new_article_path, class: "btn btn-default" %>
      </small>
    </h1>

    <ul class="media-list">
      <%= render partial: "articles/article", collection: @articles %>
    </ul>
  </div>
</div>
