<% set_meta_tags title: "发布新文章" %>

<%= stylesheet_link_tag 'simditor/simditor' %>
<%= stylesheet_link_tag 'rich_media' %>

<%= javascript_include_tag 'simditor/all' %>


<div class="rich_media_inner">
  <h1>New Article</h1>

  <div class="article-content">
    <%= render 'form', article: @article %>
  </div>
</div>
