<h1>
  Panel Episodes

  <small>
    <%= link_to 'New Panel Episode', new_panel_episode_path %>
  </small>
</h1>


<table class="table table-striped">
  <thead>
    <%= render "panel/episodes/thead" %>
  </thead>

  <tbody>
    <% @panel_episodes.each do |panel_episode| %>
      <%= render "panel/episodes/tbody", panel_episode: panel_episode %>
    <% end %>
  </tbody>
</table>

<%= paginate @panel_episodes %>
