<% content_for :content_css_link_yield do %>
  <%= stylesheet_link_tag 'episodes' %>
<% end %>

<% content_for :prefix do %>
  <div class="bg-color-white prefix clearfix">
    <h1 class="slogan">
      每天推荐 Ruby、Swift 优质项目，让技术选型更简单。
    </h1>
  </div>
<% end %>


<% @episodes.each do |episode| %>
  <%= render 'episodes/content', episode: episode, recommend_gems: episode.recommend_gems, recommend_pods: episode.recommend_pods %>
<% end %>
