<% set_meta_tags title: "今日推荐 - 第#{@episode.human_id}期" %>

<% content_for :content_css_link_yield do %>
  <%= stylesheet_link_tag 'episodes' %>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    <%= render "episodes/recommend_title", episode: @episode %>
  </div>

  <div class="panel-body content">
    <% if @recommend_gems.blank? && @recommend_pods.blank? %>
      <div class="text-center text-muted">
        没有搜索到结果
      </div>
    <% else %>
      <ul class="media-list">
        <%= render partial: "projects/media_list_item", collection: @recommend_gems, as: :project %>
        <%= render partial: "projects/media_list_item", collection: @recommend_pods, as: :project %>
      </ul>
    <% end %>
  </div>
</div>
