<% set_meta_tags title: "今日推荐: #{@recommend_description} - 第#{@episode.human_id}期" %>

<% content_for :content_css_link_yield do %>
  <%= stylesheet_link_tag 'episodes' %>
<% end %>

<% content_for :prefix do %>
  <div class="bg-color-white prefix clearfix">
    <h1 class="slogan">
      每天推荐 Ruby、Swift 优质项目，让技术选型更简单。
    </h1>
  </div>
<% end %>

<% content_for :recommend_description do %>
  <small class="hidden-xs">
    <%= @recommend_description %>
  </small>
<% end %>

<%= render 'episodes/content', episode: @episode, recommend_gems: @recommend_gems, recommend_pods: @recommend_pods %>
