<h1>
  <%= @panel_catalog.name %>

  <small>
    <%= link_to 'Show', panel_catalog_path(@panel_catalog) %>
  </small>

  <small class="pull-right">
    <%= link_to 'Back', search_panel_catalogs_path(name: @panel_catalog.name) %>
  </small>
</h1>

<%= render 'form', panel_catalog: @panel_catalog %>

