<tbody>
  <tr>
    <td title="东海社会安全" class="txt_left"><a href="http://fund.eastmoney.com/001899.html">东海社会安全</a><br>001899</td>
    <td><a href="http://jijinba.eastmoney.com/list,001899.html">基金吧</a>
      <a href="http://fund.eastmoney.com/f10/001899.html">档案</a></td>
    <td>股票指数</td>
    <td class="txt_right">0.7630</td>
    <td class="txt_right">0.7630</td>
    <td class="txt_right">0.7610</td>
    <td class="txt_right">0.7610</td>
    <td class="txt_right"><span class="red">0.0020</span></td>
    <td class="txt_right"><span class="red">0.26%</span></td>
    <td><a href="http://fund.eastmoney.com/f10/jjjl_001899.html">杜斌</a></td>
    <td>开放申购</td>
    <td><span class="fl">1</span>折起</td>
    <td><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=001899" class="btn_buy"></a></td>
  </tr>


  <tr>
    <td title="东海美丽中国灵活配置" class="txt_left"><a href="http://fund.eastmoney.com/000822.html">东海美丽中国灵活配置</a><br>000822</td>
    <td><a href="http://jijinba.eastmoney.com/list,000822.html">基金吧</a>
      <a href="http://fund.eastmoney.com/f10/000822.html">档案</a></td>
    <td>混合型</td>
    <td class="txt_right">0.9240</td>
    <td class="txt_right">0.9240</td>
    <td class="txt_right">0.9210</td>
    <td class="txt_right">0.9210</td>
    <td class="txt_right"><span class="red">0.0030</span></td>
    <td class="txt_right"><span class="red">0.33%</span></td>
    <td><a href="http://fund.eastmoney.com/f10/jjjl_000822.html">杜斌 等</a></td>
    <td>开放申购</td>
    <td><span class="fl">1</span>折起</td>
    <td><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=000822" class="btn_buy"></a></td>
  </tr>


  <tr>
    <td title="东海祥龙定增混合" class="txt_left"><a href="http://fund.eastmoney.com/168301.html">东海祥龙定增混合</a><br>168301</td>
    <td><a href="http://jijinba.eastmoney.com/list,168301.html">基金吧</a>
      <a href="http://fund.eastmoney.com/f10/168301.html">档案</a></td>
    <td>混合型</td>
    <td class="txt_right">-</td>
    <td class="txt_right">-</td>
    <td class="txt_right">1.0001</td>
    <td class="txt_right">1.0001</td>
    <td class="txt_right"><span class="">-</span></td>
    <td class="txt_right"><span class="">-</span></td>
    <td><a href="http://fund.eastmoney.com/f10/jjjl_168301.html">胡德军</a></td>
    <td>暂停申购</td>
    <td>
      <a style="text-decoration: none" href="http://fund.eastmoney.com/f10/jjfl_168301.html"><span class="f2">1.50%</span></a>
    </td>
    <td><a class="btn_buy_disable"></a></td>
  </tr>


  <tr>
    <td title="东海祥瑞A" class="txt_left"><a href="http://fund.eastmoney.com/002381.html">东海祥瑞A</a><br>002381</td>
    <td><a href="http://jijinba.eastmoney.com/list,002381.html">基金吧</a>
      <a href="http://fund.eastmoney.com/f10/002381.html">档案</a></td>
    <td>债券型</td>
    <td class="txt_right">0.9970</td>
    <td class="txt_right">0.9970</td>
    <td class="txt_right">0.9970</td>
    <td class="txt_right">0.9970</td>
    <td class="txt_right"><span class="">0.0000</span></td>
    <td class="txt_right"><span class="">0.00%</span></td>
    <td><a href="http://fund.eastmoney.com/f10/jjjl_002381.html">祝鸿玲 等</a></td>
    <td>开放申购</td>
    <td><span class="fl">1</span>折起</td>
    <td><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=002381" class="btn_buy"></a></td>
  </tr>


  <tr>
    <td title="东海祥瑞C" class="txt_left"><a href="http://fund.eastmoney.com/002382.html">东海祥瑞C</a><br>002382</td>
    <td><a href="http://jijinba.eastmoney.com/list,002382.html">基金吧</a>
      <a href="http://fund.eastmoney.com/f10/002382.html">档案</a></td>
    <td>债券型</td>
    <td class="txt_right">0.9920</td>
    <td class="txt_right">0.9920</td>
    <td class="txt_right">0.9920</td>
    <td class="txt_right">0.9920</td>
    <td class="txt_right"><span class="">0.0000</span></td>
    <td class="txt_right"><span class="">0.00%</span></td>
    <td><a href="http://fund.eastmoney.com/f10/jjjl_002382.html">祝鸿玲 等</a></td>
    <td>开放申购</td>
    <td><span class="fl">0</span>费率</td>
    <td><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=002382" class="btn_buy"></a></td>
  </tr>


</tbody>
