<table id="tbcompany" class="table">
  <thead id="company-head">
    <tr>
      <th col="comid">序号</th>
      <th col="comname"><a class="asc">基金公司名称</a></th>
      <th col="comlink">相关链接</th>
      <th col="createtime"><a class="">成立时间</a></th>
      <th col="fundnum"><a class="">旗下基金数</a></th>
      <th col="comscope"><a class="">管理规模</a><span
              style="float: right; width: 40px; color: gray; text-align: left">日期</span></th>
      <th col="comlevel">天相评级</th>
      <th col="commanagent">总经理</th>
    </tr>


  </thead>

  <tbody>
    <tr class="odd" style="background: rgb(255, 255, 255);">
      <td>1</td>
      <td data-pingyin="AXJJ"><a href="http://fund.eastmoney.com/company/80163340.html">安信基金管理有限责任公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80163340.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80163340.html">公司吧</a></td>
      <td>2011-12-06</td>
      <td><a href="http://fund.eastmoney.com/company/80163340.html">56</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;374.00亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="lgray">暂无评级</td>
      <td>刘入领</td>
    </tr>


    <tr class="" style="background: rgb(255, 255, 255);">
      <td>2</td>
      <td data-pingyin="BHZQ"><a href="http://fund.eastmoney.com/company/80000180.html">渤海证券股份有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80000180.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80000180.html">公司吧</a></td>
      <td>2008-07-23</td>
      <td>---</td>
      <td>---</td>
      <td class="lgray">暂无评级</td>
      <td>周立</td>
    </tr>


    <tr class="odd">
      <td>3</td>
      <td data-pingyin="BSJJ"><a href="http://fund.eastmoney.com/company/80000226.html">博时基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80000226.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80000226.html">公司吧</a></td>
      <td>1998-07-13</td>
      <td><a href="http://fund.eastmoney.com/company/80000226.html">244</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3770.72亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="">★★★</td>
      <td>江向阳</td>
    </tr>


    <tr class="" style="background: rgb(255, 255, 255);">
      <td>4</td>
      <td data-pingyin="BXRF"><a href="http://fund.eastmoney.com/company/80365985.html">北信瑞丰基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80365985.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80365985.html">公司吧</a></td>
      <td>2014-03-17</td>
      <td><a href="http://fund.eastmoney.com/company/80365985.html">15</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;73.84亿元</span><span
              style="float:right;color:gray;text-align:right">12-31&nbsp;&nbsp;&nbsp;</span></td>
      <td class="lgray">暂无评级</td>
      <td>朱彦</td>
    </tr>


    <tr class="odd" style="background: rgb(255, 255, 255);">
      <td>5</td>
      <td data-pingyin="BYJJ"><a href="http://fund.eastmoney.com/company/80000236.html">宝盈基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80000236.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80000236.html">公司吧</a></td>
      <td>2001-05-18</td>
      <td><a href="http://fund.eastmoney.com/company/80000236.html">26</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;432.44亿元</span><span
              style="float:right;color:gray;text-align:right">12-31&nbsp;&nbsp;&nbsp;</span></td>
      <td class="">★★★★★</td>
      <td>汪钦</td>
    </tr>


    <tr class="" style="background: rgb(255, 255, 255);">
      <td>6</td>
      <td data-pingyin="CAJJ"><a href="http://fund.eastmoney.com/company/80139382.html">长安基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80139382.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80139382.html">公司吧</a></td>
      <td>2011-09-05</td>
      <td><a href="http://fund.eastmoney.com/company/80139382.html">12</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;23.22亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="">★★★★</td>
      <td>黄陈</td>
    </tr>


    <tr class="odd" style="background: rgb(255, 255, 255);">
      <td>7</td>
      <td data-pingyin="CCJJ"><a href="http://fund.eastmoney.com/company/80000239.html">长城基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80000239.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80000239.html">公司吧</a></td>
      <td>2001-12-27</td>
      <td><a href="http://fund.eastmoney.com/company/80000239.html">52</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1027.21亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="">★★★</td>
      <td>熊科金</td>
    </tr>


    <tr class="" style="background: rgb(255, 255, 255);">
      <td>8</td>
      <td data-pingyin="CJHXJJ"><a href="http://fund.eastmoney.com/company/80380794.html">创金合信基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80380794.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80380794.html">公司吧</a></td>
      <td>2014-07-09</td>
      <td><a href="http://fund.eastmoney.com/company/80380794.html">39</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;142.73亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="lgray">暂无评级</td>
      <td>苏彦祝</td>
    </tr>


    <tr class="odd" style="background: rgb(255, 255, 255);">
      <td>9</td>
      <td data-pingyin="CJZQSH"><a href="http://fund.eastmoney.com/company/80404004.html">长江证券(上海)资产管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80404004.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80404004.html">公司吧</a></td>
      <td>2014-09-16</td>
      <td><a href="http://fund.eastmoney.com/company/80404004.html">4</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;36.19亿元</span><span
              style="float:right;color:gray;text-align:right">12-31&nbsp;&nbsp;&nbsp;</span></td>
      <td class="lgray">暂无评级</td>
      <td>唐吟波</td>
    </tr>


    <tr class="" style="background: rgb(255, 255, 255);">
      <td>10</td>
      <td data-pingyin="CSJJ"><a href="http://fund.eastmoney.com/company/80000227.html">长盛基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80000227.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80000227.html">公司吧</a></td>
      <td>1999-03-26</td>
      <td><a href="http://fund.eastmoney.com/company/80000227.html">95</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;733.62亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="">★★★★</td>
      <td>周兵</td>
    </tr>


    <tr class="odd">
      <td>11</td>
      <td data-pingyin="CTJJ"><a href="http://fund.eastmoney.com/company/80161341.html">财通基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80161341.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80161341.html">公司吧</a></td>
      <td>2011-06-21</td>
      <td><a href="http://fund.eastmoney.com/company/80161341.html">14</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;214.71亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="">★★★</td>
      <td>王家俊</td>
    </tr>


    <tr class="">
      <td>12</td>
      <td data-pingyin="CTZG"><a href="http://fund.eastmoney.com/company/80404701.html">财通证券资产管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80404701.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80404701.html">公司吧</a></td>
      <td>2014-12-15</td>
      <td><a href="http://fund.eastmoney.com/company/80404701.html">4</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;51.09亿元</span><span
              style="float:right;color:gray;text-align:right">12-31&nbsp;&nbsp;&nbsp;</span></td>
      <td class="lgray">暂无评级</td>
      <td>马晓立</td>
    </tr>


    <tr class="odd">
      <td>13</td>
      <td data-pingyin="CXJJ"><a href="http://fund.eastmoney.com/company/80000243.html">长信基金管理有限责任公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80000243.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80000243.html">公司吧</a></td>
      <td>2003-05-09</td>
      <td><a href="http://fund.eastmoney.com/company/80000243.html">66</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;639.14亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="">★★★★★</td>
      <td>覃波</td>
    </tr>


    <tr class="">
      <td>14</td>
      <td data-pingyin="DBJJ"><a href="http://fund.eastmoney.com/company/80175511.html">德邦基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80175511.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80175511.html">公司吧</a></td>
      <td>2012-03-27</td>
      <td><a href="http://fund.eastmoney.com/company/80175511.html">43</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;193.35亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="lgray">暂无评级</td>
      <td>易强</td>
    </tr>


    <tr class="odd">
      <td>15</td>
      <td data-pingyin="DCJJ"><a href="http://fund.eastmoney.com/company/80000225.html">大成基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80000225.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80000225.html">公司吧</a></td>
      <td>1999-04-12</td>
      <td><a href="http://fund.eastmoney.com/company/80000225.html">120</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1045.59亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="">★★★</td>
      <td>罗登攀</td>
    </tr>


    <tr class="">
      <td>16</td>
      <td data-pingyin="DFJJ"><a href="http://fund.eastmoney.com/company/80042861.html">东方基金管理有限责任公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80042861.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80042861.html">公司吧</a></td>
      <td>2004-06-11</td>
      <td><a href="http://fund.eastmoney.com/company/80042861.html">57</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;262.30亿元</span><span
              style="float:right;color:gray;text-align:right">01-16&nbsp;&nbsp;&nbsp;</span></td>
      <td class="">★★★★★</td>
      <td>刘鸿鹏</td>
    </tr>


    <tr class="odd">
      <td>17</td>
      <td data-pingyin="DHJJ"><a href="http://fund.eastmoney.com/company/80205268.html">东海基金管理有限责任公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80205268.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80205268.html">公司吧</a></td>
      <td>2013-02-25</td>
      <td><a href="http://fund.eastmoney.com/company/80205268.html">5</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;10.28亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="lgray">暂无评级</td>
      <td>刘建锋</td>
    </tr>


    <tr class="">
      <td>18</td>
      <td data-pingyin="DWJJ"><a href="http://fund.eastmoney.com/company/80048161.html">东吴基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80048161.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80048161.html">公司吧</a></td>
      <td>2004-09-02</td>
      <td><a href="http://fund.eastmoney.com/company/80048161.html">33</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;148.47亿元</span><span
              style="float:right;color:gray;text-align:right">12-31&nbsp;&nbsp;&nbsp;</span></td>
      <td class="">★★★</td>
      <td>王炯</td>
    </tr>


    <tr class="odd">
      <td>19</td>
      <td data-pingyin="DXZQ"><a href="http://fund.eastmoney.com/company/80114781.html">东兴证券股份有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80114781.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80114781.html">公司吧</a></td>
      <td>2008-05-28</td>
      <td><a href="http://fund.eastmoney.com/company/80114781.html">6</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;70.97亿元</span><span
              style="float:right;color:gray;text-align:right">12-31&nbsp;&nbsp;&nbsp;</span></td>
      <td class="lgray">暂无评级</td>
      <td>魏庆华</td>
    </tr>


    <tr class="">
      <td>20</td>
      <td data-pingyin="FADJJ"><a href="http://fund.eastmoney.com/company/80128562.html">富安达基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80128562.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80128562.html">公司吧</a></td>
      <td>2011-04-27</td>
      <td><a href="http://fund.eastmoney.com/company/80128562.html">10</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;30.24亿元</span><span
              style="float:right;color:gray;text-align:right">01-13&nbsp;&nbsp;&nbsp;</span></td>
      <td class="">★★★★</td>
      <td>蒋晓刚</td>
    </tr>


    <tr class="odd">
      <td>21</td>
      <td data-pingyin="FGJJ"><a href="http://fund.eastmoney.com/company/80000221.html">富国基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80000221.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80000221.html">公司吧</a></td>
      <td>1999-04-13</td>
      <td><a href="http://fund.eastmoney.com/company/80000221.html">119</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2091.24亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="">★★★★★</td>
      <td>陈戈</td>
    </tr>


    <tr class="">
      <td>22</td>
      <td data-pingyin="FRJJ"><a href="http://fund.eastmoney.com/company/80488954.html">富荣基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80488954.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80488954.html">公司吧</a></td>
      <td>2016-01-25</td>
      <td><a href="http://fund.eastmoney.com/company/80488954.html">2</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;31.08亿元</span><span
              style="float:right;color:gray;text-align:right">12-31&nbsp;&nbsp;&nbsp;</span></td>
      <td class="lgray">暂无评级</td>
      <td>郭容辰</td>
    </tr>


    <tr class="odd">
      <td>23</td>
      <td data-pingyin="FZFBJJ"><a href="http://fund.eastmoney.com/company/80174741.html">方正富邦基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80174741.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80174741.html">公司吧</a></td>
      <td>2011-07-08</td>
      <td><a href="http://fund.eastmoney.com/company/80174741.html">17</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;160.22亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="">★★★</td>
      <td>邹牧</td>
    </tr>


    <tr class="">
      <td>24</td>
      <td data-pingyin="GDBDXJJ"><a href="http://fund.eastmoney.com/company/80048088.html">光大保德信基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80048088.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80048088.html">公司吧</a></td>
      <td>2004-04-22</td>
      <td><a href="http://fund.eastmoney.com/company/80048088.html">53</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;567.85亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="">★★★★</td>
      <td>包爱丽</td>
    </tr>


    <tr class="odd">
      <td>25</td>
      <td data-pingyin="GDZQ"><a href="http://fund.eastmoney.com/company/80000095.html">国都证券股份有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80000095.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80000095.html">公司吧</a></td>
      <td>2001-12-28</td>
      <td><a href="http://fund.eastmoney.com/company/80000095.html">2</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5.18亿元</span><span
              style="float:right;color:gray;text-align:right">12-31&nbsp;&nbsp;&nbsp;</span></td>
      <td class="lgray">暂无评级</td>
      <td>常喆</td>
    </tr>


    <tr class="">
      <td>26</td>
      <td data-pingyin="GFJJ"><a href="http://fund.eastmoney.com/company/80000248.html">广发基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80000248.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80000248.html">公司吧</a></td>
      <td>2003-08-05</td>
      <td><a href="http://fund.eastmoney.com/company/80000248.html">200</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3007.41亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="">★★★</td>
      <td>林传辉</td>
    </tr>


    <tr class="odd">
      <td>27</td>
      <td data-pingyin="GHFLKLJJ"><a href="http://fund.eastmoney.com/company/80044515.html">国海富兰克林基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80044515.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80044515.html">公司吧</a></td>
      <td>2004-11-15</td>
      <td><a href="http://fund.eastmoney.com/company/80044515.html">44</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;201.48亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="">★★★</td>
      <td>吴显玲</td>
    </tr>


    <tr class="">
      <td>28</td>
      <td data-pingyin="GHZQ"><a href="http://fund.eastmoney.com/company/80056613.html">北京高华证券有限责任公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80056613.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80056613.html">公司吧</a></td>
      <td>2004-10-18</td>
      <td>---</td>
      <td>---</td>
      <td class="lgray">暂无评级</td>
      <td>章星</td>
    </tr>


    <tr class="odd">
      <td>29</td>
      <td data-pingyin="GJJJ"><a href="http://fund.eastmoney.com/company/80102419.html">国金基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80102419.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80102419.html">公司吧</a></td>
      <td>2011-11-02</td>
      <td><a href="http://fund.eastmoney.com/company/80102419.html">14</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;185.98亿元</span><span
              style="float:right;color:gray;text-align:right">12-31&nbsp;&nbsp;&nbsp;</span></td>
      <td class="">★★★★</td>
      <td>尹庆军</td>
    </tr>


    <tr class="">
      <td>30</td>
      <td data-pingyin="GKTFJJ"><a href="http://fund.eastmoney.com/company/80280039.html">国开泰富基金管理有限责任公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80280039.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80280039.html">公司吧</a></td>
      <td>2013-07-16</td>
      <td><a href="http://fund.eastmoney.com/company/80280039.html">6</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;17.81亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="lgray">暂无评级</td>
      <td>李鑫</td>
    </tr>


    <tr class="odd">
      <td>31</td>
      <td data-pingyin="GLAJJ"><a href="http://fund.eastmoney.com/company/80043374.html">国联安基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80043374.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80043374.html">公司吧</a></td>
      <td>2003-04-03</td>
      <td><a href="http://fund.eastmoney.com/company/80043374.html">53</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;410.29亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="">★★★★</td>
      <td>谭晓雨</td>
    </tr>


    <tr class="">
      <td>32</td>
      <td data-pingyin="GLJJ"><a href="http://fund.eastmoney.com/company/80548351.html">格林基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80548351.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80548351.html">公司吧</a></td>
      <td>2016-11-01</td>
      <td>---</td>
      <td>---</td>
      <td class="lgray">暂无评级</td>
      <td>高永红</td>
    </tr>


    <tr class="odd">
      <td>33</td>
      <td data-pingyin="GSABJJ"><a href="http://fund.eastmoney.com/company/80355783.html">国寿安保基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80355783.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80355783.html">公司吧</a></td>
      <td>2013-10-29</td>
      <td><a href="http://fund.eastmoney.com/company/80355783.html">42</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;788.84亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="lgray">暂无评级</td>
      <td>左季庆</td>
    </tr>


    <tr class="">
      <td>34</td>
      <td data-pingyin="GTJJ"><a href="http://fund.eastmoney.com/company/80000224.html">国泰基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80000224.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80000224.html">公司吧</a></td>
      <td>1998-03-05</td>
      <td><a href="http://fund.eastmoney.com/company/80000224.html">116</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;771.02亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="">★★★★★</td>
      <td>周向勇</td>
    </tr>


    <tr class="odd">
      <td>35</td>
      <td data-pingyin="GTRYJJ"><a href="http://fund.eastmoney.com/company/80000233.html">国投瑞银基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80000233.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80000233.html">公司吧</a></td>
      <td>2002-06-13</td>
      <td><a href="http://fund.eastmoney.com/company/80000233.html">87</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;930.41亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="">★★★</td>
      <td>王彬</td>
    </tr>


    <tr class="">
      <td>36</td>
      <td data-pingyin="GYRXJJ"><a href="http://fund.eastmoney.com/company/80064225.html">工银瑞信基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80064225.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80064225.html">公司吧</a></td>
      <td>2005-06-21</td>
      <td><a href="http://fund.eastmoney.com/company/80064225.html">146</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4603.67亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="lgray">暂无评级</td>
      <td>郭特华</td>
    </tr>


    <tr class="odd">
      <td>37</td>
      <td data-pingyin="HAJJ"><a href="http://fund.eastmoney.com/company/80000228.html">华安基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80000228.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80000228.html">公司吧</a></td>
      <td>1998-06-04</td>
      <td><a href="http://fund.eastmoney.com/company/80000228.html">141</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1626.35亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="">★★★★★</td>
      <td>童威</td>
    </tr>


    <tr class="">
      <td>38</td>
      <td data-pingyin="HAJJ"><a href="http://fund.eastmoney.com/company/80498278.html">汇安基金管理有限责任公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80498278.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80498278.html">公司吧</a></td>
      <td>2016-04-25</td>
      <td><a href="http://fund.eastmoney.com/company/80498278.html">15</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;15.64亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="lgray">暂无评级</td>
      <td>秦军</td>
    </tr>


    <tr class="odd">
      <td>39</td>
      <td data-pingyin="HBXYJJ"><a href="http://fund.eastmoney.com/company/80000250.html">华宝兴业基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80000250.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80000250.html">公司吧</a></td>
      <td>2003-03-07</td>
      <td><a href="http://fund.eastmoney.com/company/80000250.html">66</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1205.31亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="">★★★</td>
      <td>黄小薏</td>
    </tr>


    <tr class="">
      <td>40</td>
      <td data-pingyin="HCWLJJ"><a href="http://fund.eastmoney.com/company/80201857.html">华宸未来基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80201857.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80201857.html">公司吧</a></td>
      <td>2012-06-20</td>
      <td><a href="http://fund.eastmoney.com/company/80201857.html">1</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0.18亿元</span><span
              style="float:right;color:gray;text-align:right">12-31&nbsp;&nbsp;&nbsp;</span></td>
      <td class="lgray">暂无评级</td>
      <td>杨桐</td>
    </tr>


    <tr class="odd">
      <td>41</td>
      <td data-pingyin="HDJJ"><a href="http://fund.eastmoney.com/company/80424273.html">泓德基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80424273.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80424273.html">公司吧</a></td>
      <td>2015-03-03</td>
      <td><a href="http://fund.eastmoney.com/company/80424273.html">23</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;181.29亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="lgray">暂无评级</td>
      <td>王德晓</td>
    </tr>


    <tr class="">
      <td>42</td>
      <td data-pingyin="HFJJ"><a href="http://fund.eastmoney.com/company/80037023.html">华富基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80037023.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80037023.html">公司吧</a></td>
      <td>2004-04-19</td>
      <td><a href="http://fund.eastmoney.com/company/80037023.html">46</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;142.51亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="">★★★</td>
      <td>余海春</td>
    </tr>


    <tr class="odd">
      <td>43</td>
      <td data-pingyin="HFJXJJ"><a href="http://fund.eastmoney.com/company/80067635.html">汇丰晋信基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80067635.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80067635.html">公司吧</a></td>
      <td>2005-11-16</td>
      <td><a href="http://fund.eastmoney.com/company/80067635.html">24</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;173.15亿元</span><span
              style="float:right;color:gray;text-align:right">01-13&nbsp;&nbsp;&nbsp;</span></td>
      <td class="">★★★</td>
      <td>王栋</td>
    </tr>


    <tr class="">
      <td>44</td>
      <td data-pingyin="HFTJJ"><a href="http://fund.eastmoney.com/company/80000246.html">海富通基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80000246.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80000246.html">公司吧</a></td>
      <td>2003-04-18</td>
      <td><a href="http://fund.eastmoney.com/company/80000246.html">57</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;442.10亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="">★★★</td>
      <td>刘颂</td>
    </tr>


    <tr class="odd">
      <td>45</td>
      <td data-pingyin="HRYDJJ"><a href="http://fund.eastmoney.com/company/80199117.html">华润元大基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80199117.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80199117.html">公司吧</a></td>
      <td>2013-01-17</td>
      <td><a href="http://fund.eastmoney.com/company/80199117.html">13</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;24.15亿元</span><span
              style="float:right;color:gray;text-align:right">01-13&nbsp;&nbsp;&nbsp;</span></td>
      <td class="lgray">暂无评级</td>
      <td>林瑞源</td>
    </tr>


    <tr class="">
      <td>46</td>
      <td data-pingyin="HRZQ"><a href="http://fund.eastmoney.com/company/80092743.html">华融证券股份有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80092743.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80092743.html">公司吧</a></td>
      <td>2007-09-07</td>
      <td><a href="http://fund.eastmoney.com/company/80092743.html">5</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6.53亿元</span><span
              style="float:right;color:gray;text-align:right">12-31&nbsp;&nbsp;&nbsp;</span></td>
      <td class="lgray">暂无评级</td>
      <td>樊平(代)</td>
    </tr>


    <tr class="odd">
      <td>47</td>
      <td data-pingyin="HSJJ"><a href="http://fund.eastmoney.com/company/80053204.html">华商基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80053204.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80053204.html">公司吧</a></td>
      <td>2005-12-20</td>
      <td><a href="http://fund.eastmoney.com/company/80053204.html">47</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;480.03亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="">★★★★</td>
      <td>梁永强</td>
    </tr>


    <tr class="">
      <td>48</td>
      <td data-pingyin="HSQHJJ"><a href="http://fund.eastmoney.com/company/80508384.html">恒生前海基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80508384.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80508384.html">公司吧</a></td>
      <td>2016-07-01</td>
      <td>---</td>
      <td>---</td>
      <td class="lgray">暂无评级</td>
      <td>刘宇</td>
    </tr>


    <tr class="odd">
      <td>49</td>
      <td data-pingyin="HTBRJJ"><a href="http://fund.eastmoney.com/company/80055334.html">华泰柏瑞基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80055334.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80055334.html">公司吧</a></td>
      <td>2004-11-18</td>
      <td><a href="http://fund.eastmoney.com/company/80055334.html">68</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;975.21亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="">★★★</td>
      <td>韩勇</td>
    </tr>


    <tr class="">
      <td>50</td>
      <td data-pingyin="HTBX"><a href="http://fund.eastmoney.com/company/80523667.html">华泰保兴基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80523667.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80523667.html">公司吧</a></td>
      <td>2016-07-26</td>
      <td><a href="http://fund.eastmoney.com/company/80523667.html">1</a></td>
      <td>---</td>
      <td class="lgray">暂无评级</td>
      <td>王冠龙</td>
    </tr>


    <tr class="odd">
      <td>51</td>
      <td data-pingyin="HTCXJJ"><a href="http://fund.eastmoney.com/company/80385906.html">红土创新基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80385906.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80385906.html">公司吧</a></td>
      <td>2014-06-18</td>
      <td><a href="http://fund.eastmoney.com/company/80385906.html">3</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.56亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="lgray">暂无评级</td>
      <td>邵钢(代)</td>
    </tr>


    <tr class="">
      <td>52</td>
      <td data-pingyin="HTFJJ"><a href="http://fund.eastmoney.com/company/80053708.html">汇添富基金管理股份有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80053708.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80053708.html">公司吧</a></td>
      <td>2005-02-03</td>
      <td><a href="http://fund.eastmoney.com/company/80053708.html">111</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2711.05亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="">★★★★★</td>
      <td>张晖</td>
    </tr>


    <tr class="odd">
      <td>53</td>
      <td data-pingyin="HTHT"><a href="http://fund.eastmoney.com/company/80205263.html">红塔红土基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80205263.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80205263.html">公司吧</a></td>
      <td>2012-06-12</td>
      <td><a href="http://fund.eastmoney.com/company/80205263.html">11</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9.78亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="lgray">暂无评级</td>
      <td>刘辉</td>
    </tr>


    <tr class="">
      <td>54</td>
      <td data-pingyin="HXJJ"><a href="http://fund.eastmoney.com/company/80000222.html">华夏基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80000222.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80000222.html">公司吧</a></td>
      <td>1998-04-09</td>
      <td><a href="http://fund.eastmoney.com/company/80000222.html">152</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4009.27亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="">★★★</td>
      <td>汤晓东</td>
    </tr>


    <tr class="odd">
      <td>55</td>
      <td data-pingyin="JHJJ"><a href="http://fund.eastmoney.com/company/80365987.html">嘉合基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80365987.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80365987.html">公司吧</a></td>
      <td>2014-07-30</td>
      <td><a href="http://fund.eastmoney.com/company/80365987.html">4</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;30.87亿元</span><span
              style="float:right;color:gray;text-align:right">12-31&nbsp;&nbsp;&nbsp;</span></td>
      <td class="lgray">暂无评级</td>
      <td>徐岱</td>
    </tr>


    <tr class="">
      <td>56</td>
      <td data-pingyin="JSCCJJ"><a href="http://fund.eastmoney.com/company/80000251.html">景顺长城基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80000251.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80000251.html">公司吧</a></td>
      <td>2003-06-12</td>
      <td><a href="http://fund.eastmoney.com/company/80000251.html">87</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;869.25亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="">★★★★</td>
      <td>许义明</td>
    </tr>


    <tr class="odd">
      <td>57</td>
      <td data-pingyin="JSJJ"><a href="http://fund.eastmoney.com/company/80000223.html">嘉实基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80000223.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80000223.html">公司吧</a></td>
      <td>1999-03-25</td>
      <td><a href="http://fund.eastmoney.com/company/80000223.html">147</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3380.15亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="">★★★★</td>
      <td>赵学军</td>
    </tr>


    <tr class="">
      <td>58</td>
      <td data-pingyin="JTJJ"><a href="http://fund.eastmoney.com/company/80384640.html">九泰基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80384640.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80384640.html">公司吧</a></td>
      <td>2014-07-03</td>
      <td><a href="http://fund.eastmoney.com/company/80384640.html">22</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;120.95亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="lgray">暂无评级</td>
      <td>卢伟忠</td>
    </tr>


    <tr class="odd">
      <td>59</td>
      <td data-pingyin="JXJJ"><a href="http://fund.eastmoney.com/company/80205264.html">江信基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80205264.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80205264.html">公司吧</a></td>
      <td>2013-01-28</td>
      <td><a href="http://fund.eastmoney.com/company/80205264.html">11</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;33.37亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="lgray">暂无评级</td>
      <td>初英</td>
    </tr>


    <tr class="">
      <td>60</td>
      <td data-pingyin="JXJJ"><a href="http://fund.eastmoney.com/company/80446423.html">金信基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80446423.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80446423.html">公司吧</a></td>
      <td>2015-07-03</td>
      <td><a href="http://fund.eastmoney.com/company/80446423.html">7</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5.17亿元</span><span
              style="float:right;color:gray;text-align:right">12-31&nbsp;&nbsp;&nbsp;</span></td>
      <td class="lgray">暂无评级</td>
      <td>殷克胜</td>
    </tr>


    <tr class="odd">
      <td>61</td>
      <td data-pingyin="JXJJ"><a href="http://fund.eastmoney.com/company/80065990.html">建信基金管理有限责任公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80065990.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80065990.html">公司吧</a></td>
      <td>2005-09-19</td>
      <td><a href="http://fund.eastmoney.com/company/80065990.html">117</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3771.40亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="">★★★★</td>
      <td>孙志晨</td>
    </tr>


    <tr class="">
      <td>62</td>
      <td data-pingyin="JYJJ"><a href="http://fund.eastmoney.com/company/80000245.html">金鹰基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80000245.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80000245.html">公司吧</a></td>
      <td>2002-12-25</td>
      <td><a href="http://fund.eastmoney.com/company/80000245.html">42</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;255.54亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="lgray">暂无评级</td>
      <td>刘岩</td>
    </tr>


    <tr class="odd">
      <td>63</td>
      <td data-pingyin="JYSAJJ"><a href="http://fund.eastmoney.com/company/80086876.html">金元顺安基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80086876.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80086876.html">公司吧</a></td>
      <td>2006-11-13</td>
      <td><a href="http://fund.eastmoney.com/company/80086876.html">15</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;76.04亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="lgray">暂无评级</td>
      <td>张嘉宾</td>
    </tr>


    <tr class="" style="background: rgb(255, 255, 255);">
      <td>64</td>
      <td data-pingyin="JYSLDJJ"><a href="http://fund.eastmoney.com/company/80064562.html">交银施罗德基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80064562.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80064562.html">公司吧</a></td>
      <td>2005-08-04</td>
      <td><a href="http://fund.eastmoney.com/company/80064562.html">100</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1023.79亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="">★★★★</td>
      <td>阮红</td>
    </tr>


    <tr class="odd" style="background: rgb(255, 255, 255);">
      <td>65</td>
      <td data-pingyin="MGSDLHXJJ"><a href="http://fund.eastmoney.com/company/80036797.html">摩根士丹利华鑫基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80036797.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80036797.html">公司吧</a></td>
      <td>2003-03-14</td>
      <td><a href="http://fund.eastmoney.com/company/80036797.html">30</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;297.44亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="">★★★★★</td>
      <td>高潮生</td>
    </tr>


    <tr class="">
      <td>66</td>
      <td data-pingyin="MSJYJJ"><a href="http://fund.eastmoney.com/company/80106677.html">民生加银基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80106677.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80106677.html">公司吧</a></td>
      <td>2008-11-03</td>
      <td><a href="http://fund.eastmoney.com/company/80106677.html">61</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;789.29亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="">★★★★</td>
      <td>吴剑飞</td>
    </tr>


    <tr class="odd">
      <td>67</td>
      <td data-pingyin="NAJJ"><a href="http://fund.eastmoney.com/company/80049689.html">诺安基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80049689.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80049689.html">公司吧</a></td>
      <td>2003-12-09</td>
      <td><a href="http://fund.eastmoney.com/company/80049689.html">70</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;947.22亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="">★★★★★</td>
      <td>奥成文</td>
    </tr>


    <tr class="">
      <td>68</td>
      <td data-pingyin="NDJJ"><a href="http://fund.eastmoney.com/company/80068180.html">诺德基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80068180.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80068180.html">公司吧</a></td>
      <td>2006-06-08</td>
      <td><a href="http://fund.eastmoney.com/company/80068180.html">16</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;56.16亿元</span><span
              style="float:right;color:gray;text-align:right">12-31&nbsp;&nbsp;&nbsp;</span></td>
      <td class="lgray">暂无评级</td>
      <td>胡志伟</td>
    </tr>


    <tr class="odd">
      <td>69</td>
      <td data-pingyin="NFJJ"><a href="http://fund.eastmoney.com/company/80000220.html">南方基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80000220.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80000220.html">公司吧</a></td>
      <td>1998-03-06</td>
      <td><a href="http://fund.eastmoney.com/company/80000220.html">173</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3857.69亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="">★★★★★</td>
      <td>杨小松</td>
    </tr>


    <tr class="">
      <td>70</td>
      <td data-pingyin="NHJJ"><a href="http://fund.eastmoney.com/company/80555446.html">南华基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80555446.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80555446.html">公司吧</a></td>
      <td>2016-11-17</td>
      <td>---</td>
      <td>---</td>
      <td class="lgray">暂无评级</td>
      <td>董浏洋</td>
    </tr>


    <tr class="odd">
      <td>71</td>
      <td data-pingyin="NYHLJJ"><a href="http://fund.eastmoney.com/company/80092233.html">农银汇理基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80092233.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80092233.html">公司吧</a></td>
      <td>2008-03-18</td>
      <td><a href="http://fund.eastmoney.com/company/80092233.html">44</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1130.60亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="">★★★</td>
      <td>许金超</td>
    </tr>


    <tr class="">
      <td>72</td>
      <td data-pingyin="PADHJJ"><a href="http://fund.eastmoney.com/company/80168726.html">平安大华基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80168726.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80168726.html">公司吧</a></td>
      <td>2011-01-07</td>
      <td><a href="http://fund.eastmoney.com/company/80168726.html">43</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;836.77亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="lgray">暂无评级</td>
      <td>肖宇鹏</td>
    </tr>


    <tr class="odd">
      <td>73</td>
      <td data-pingyin="PHJJ"><a href="http://fund.eastmoney.com/company/80000230.html">鹏华基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80000230.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80000230.html">公司吧</a></td>
      <td>1998-12-22</td>
      <td><a href="http://fund.eastmoney.com/company/80000230.html">202</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2507.70亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="">★★★</td>
      <td>邓召明</td>
    </tr>


    <tr class="">
      <td>74</td>
      <td data-pingyin="PYASJJ"><a href="http://fund.eastmoney.com/company/80091787.html">浦银安盛基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80091787.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80091787.html">公司吧</a></td>
      <td>2007-08-05</td>
      <td><a href="http://fund.eastmoney.com/company/80091787.html">50</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;525.72亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="">★★★★★</td>
      <td>郁蓓华</td>
    </tr>


    <tr class="odd">
      <td>75</td>
      <td data-pingyin="PYJJ"><a href="http://fund.eastmoney.com/company/80522693.html">鹏扬基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80522693.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80522693.html">公司吧</a></td>
      <td>2016-07-06</td>
      <td>---</td>
      <td>---</td>
      <td class="lgray">暂无评级</td>
      <td>杨爱斌</td>
    </tr>


    <tr class="">
      <td>76</td>
      <td data-pingyin="QHKYJJ"><a href="http://fund.eastmoney.com/company/80280038.html">前海开源基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80280038.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80280038.html">公司吧</a></td>
      <td>2013-01-23</td>
      <td><a href="http://fund.eastmoney.com/company/80280038.html">73</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;607.25亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="lgray">暂无评级</td>
      <td>蔡颖</td>
    </tr>


    <tr class="odd">
      <td>77</td>
      <td data-pingyin="QHLH"><a href="http://fund.eastmoney.com/company/80468996.html">新疆前海联合基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80468996.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80468996.html">公司吧</a></td>
      <td>2015-08-07</td>
      <td><a href="http://fund.eastmoney.com/company/80468996.html">13</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;138.26亿元</span><span
              style="float:right;color:gray;text-align:right">12-31&nbsp;&nbsp;&nbsp;</span></td>
      <td class="lgray">暂无评级</td>
      <td>王晓耕</td>
    </tr>


    <tr class="">
      <td>78</td>
      <td data-pingyin="RTJJ"><a href="http://fund.eastmoney.com/company/80000231.html">融通基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80000231.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80000231.html">公司吧</a></td>
      <td>2001-05-22</td>
      <td><a href="http://fund.eastmoney.com/company/80000231.html">85</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;894.60亿元</span><span
              style="float:right;color:gray;text-align:right">01-06&nbsp;&nbsp;&nbsp;</span></td>
      <td class="lgray">暂无评级</td>
      <td>孟朝霞</td>
    </tr>


    <tr class="odd">
      <td>79</td>
      <td data-pingyin="SHDFZQZCGL"><a href="http://fund.eastmoney.com/company/80145102.html">上海东方证券资产管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80145102.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80145102.html">公司吧</a></td>
      <td>2010-06-08</td>
      <td><a href="http://fund.eastmoney.com/company/80145102.html">35</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;364.71亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="lgray">暂无评级</td>
      <td>任莉</td>
    </tr>


    <tr class="">
      <td>80</td>
      <td data-pingyin="STMGJJ"><a href="http://fund.eastmoney.com/company/80050229.html">上投摩根基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80050229.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80050229.html">公司吧</a></td>
      <td>2004-05-12</td>
      <td><a href="http://fund.eastmoney.com/company/80050229.html">81</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1383.89亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="">★★★</td>
      <td>章硕麟</td>
    </tr>


    <tr class="odd">
      <td>81</td>
      <td data-pingyin="SWLXJJ"><a href="http://fund.eastmoney.com/company/80045188.html">申万菱信基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80045188.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80045188.html">公司吧</a></td>
      <td>2004-01-15</td>
      <td><a href="http://fund.eastmoney.com/company/80045188.html">50</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;342.96亿元</span><span
              style="float:right;color:gray;text-align:right">01-13&nbsp;&nbsp;&nbsp;</span></td>
      <td class="">★★★</td>
      <td>来肖贤</td>
    </tr>


    <tr class="">
      <td>82</td>
      <td data-pingyin="SXZQ"><a href="http://fund.eastmoney.com/company/80000080.html">山西证券股份有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80000080.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80000080.html">公司吧</a></td>
      <td>1988-07-28</td>
      <td><a href="http://fund.eastmoney.com/company/80000080.html">7</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;51.52亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="lgray">暂无评级</td>
      <td>侯巍</td>
    </tr>


    <tr class="odd">
      <td>83</td>
      <td data-pingyin="SYJJ"><a href="http://fund.eastmoney.com/company/80366080.html">上银基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80366080.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80366080.html">公司吧</a></td>
      <td>2013-08-30</td>
      <td><a href="http://fund.eastmoney.com/company/80366080.html">5</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;534.11亿元</span><span
              style="float:right;color:gray;text-align:right">12-31&nbsp;&nbsp;&nbsp;</span></td>
      <td class="lgray">暂无评级</td>
      <td>李永飞</td>
    </tr>


    <tr class="">
      <td>84</td>
      <td data-pingyin="TDHLJJ"><a href="http://fund.eastmoney.com/company/80000238.html">泰达宏利基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80000238.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80000238.html">公司吧</a></td>
      <td>2002-06-06</td>
      <td><a href="http://fund.eastmoney.com/company/80000238.html">70</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;494.86亿元</span><span
              style="float:right;color:gray;text-align:right">12-31&nbsp;&nbsp;&nbsp;</span></td>
      <td class="">★★★</td>
      <td>刘建</td>
    </tr>


    <tr class="odd">
      <td>85</td>
      <td data-pingyin="THJJ"><a href="http://fund.eastmoney.com/company/80041198.html">天弘基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80041198.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80041198.html">公司吧</a></td>
      <td>2004-11-08</td>
      <td><a href="http://fund.eastmoney.com/company/80041198.html">81</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8449.81亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="">★★★</td>
      <td>郭树强</td>
    </tr>


    <tr class="">
      <td>86</td>
      <td data-pingyin="TKZC"><a href="http://fund.eastmoney.com/company/80061674.html">泰康资产管理有限责任公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80061674.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80061674.html">公司吧</a></td>
      <td>2006-02-21</td>
      <td><a href="http://fund.eastmoney.com/company/80061674.html">20</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;85.79亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="lgray">暂无评级</td>
      <td>段国圣</td>
    </tr>


    <tr class="odd">
      <td>87</td>
      <td data-pingyin="TPJJ"><a href="http://fund.eastmoney.com/company/80294346.html">太平基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80294346.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80294346.html">公司吧</a></td>
      <td>2013-01-23</td>
      <td><a href="http://fund.eastmoney.com/company/80294346.html">3</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;151.65亿元</span><span
              style="float:right;color:gray;text-align:right">12-31&nbsp;&nbsp;&nbsp;</span></td>
      <td class="lgray">暂无评级</td>
      <td>宋小龙</td>
    </tr>


    <tr class="">
      <td>88</td>
      <td data-pingyin="TXJJ"><a href="http://fund.eastmoney.com/company/80000247.html">泰信基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80000247.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80000247.html">公司吧</a></td>
      <td>2003-05-23</td>
      <td><a href="http://fund.eastmoney.com/company/80000247.html">27</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;62.09亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="">★★★</td>
      <td>葛航</td>
    </tr>


    <tr class="odd">
      <td>89</td>
      <td data-pingyin="TZJJ"><a href="http://fund.eastmoney.com/company/80000252.html">天治基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80000252.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80000252.html">公司吧</a></td>
      <td>2003-05-27</td>
      <td><a href="http://fund.eastmoney.com/company/80000252.html">14</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;25.83亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="lgray">暂无评级</td>
      <td>常永涛</td>
    </tr>


    <tr class="">
      <td>90</td>
      <td data-pingyin="WJJJ"><a href="http://fund.eastmoney.com/company/80000240.html">万家基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80000240.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80000240.html">公司吧</a></td>
      <td>2002-08-23</td>
      <td><a href="http://fund.eastmoney.com/company/80000240.html">72</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;523.59亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="lgray">暂无评级</td>
      <td>经晓云</td>
    </tr>


    <tr class="odd">
      <td>91</td>
      <td data-pingyin="XBLDJJ"><a href="http://fund.eastmoney.com/company/80147736.html">西部利得基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80147736.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80147736.html">公司吧</a></td>
      <td>2010-07-20</td>
      <td><a href="http://fund.eastmoney.com/company/80147736.html">36</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;147.22亿元</span><span
              style="float:right;color:gray;text-align:right">12-31&nbsp;&nbsp;&nbsp;</span></td>
      <td class="lgray">暂无评级</td>
      <td>贺燕萍</td>
    </tr>


    <tr class="">
      <td>92</td>
      <td data-pingyin="XCJJ"><a href="http://fund.eastmoney.com/company/80066470.html">信诚基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80066470.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80066470.html">公司吧</a></td>
      <td>2005-09-30</td>
      <td><a href="http://fund.eastmoney.com/company/80066470.html">111</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;649.04亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="">★★★★</td>
      <td>吕涛</td>
    </tr>


    <tr class="odd">
      <td>93</td>
      <td data-pingyin="XDAYJJ"><a href="http://fund.eastmoney.com/company/80074234.html">信达澳银基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80074234.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80074234.html">公司吧</a></td>
      <td>2006-06-05</td>
      <td><a href="http://fund.eastmoney.com/company/80074234.html">20</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;186.13亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="lgray">暂无评级</td>
      <td>于建伟</td>
    </tr>


    <tr class="">
      <td>94</td>
      <td data-pingyin="XFJJ"><a href="http://fund.eastmoney.com/company/80501166.html">先锋基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80501166.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80501166.html">公司吧</a></td>
      <td>2016-05-16</td>
      <td><a href="http://fund.eastmoney.com/company/80501166.html">3</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;10.71亿元</span><span
              style="float:right;color:gray;text-align:right">12-31&nbsp;&nbsp;&nbsp;</span></td>
      <td class="lgray">暂无评级</td>
      <td>齐靠民</td>
    </tr>


    <tr class="odd">
      <td>95</td>
      <td data-pingyin="XHJJ"><a href="http://fund.eastmoney.com/company/80000249.html">新华基金管理股份有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80000249.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80000249.html">公司吧</a></td>
      <td>2004-12-09</td>
      <td><a href="http://fund.eastmoney.com/company/80000249.html">58</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;442.98亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="">★★★</td>
      <td>张宗友</td>
    </tr>


    <tr class="">
      <td>96</td>
      <td data-pingyin="XQJJ"><a href="http://fund.eastmoney.com/company/80036742.html">兴全基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80036742.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80036742.html">公司吧</a></td>
      <td>2003-09-30</td>
      <td><a href="http://fund.eastmoney.com/company/80036742.html">21</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1111.07亿元</span><span
              style="float:right;color:gray;text-align:right">01-13&nbsp;&nbsp;&nbsp;</span></td>
      <td class="">★★★★★</td>
      <td>杨东</td>
    </tr>


    <tr class="odd">
      <td>97</td>
      <td data-pingyin="XWJJ"><a href="http://fund.eastmoney.com/company/80452130.html">新沃基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80452130.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80452130.html">公司吧</a></td>
      <td>2015-08-19</td>
      <td><a href="http://fund.eastmoney.com/company/80452130.html">6</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;52.35亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="lgray">暂无评级</td>
      <td>库三七</td>
    </tr>


    <tr class="">
      <td>98</td>
      <td data-pingyin="XYJJ"><a href="http://fund.eastmoney.com/company/80351991.html">鑫元基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80351991.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80351991.html">公司吧</a></td>
      <td>2013-08-29</td>
      <td><a href="http://fund.eastmoney.com/company/80351991.html">25</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;250.73亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="lgray">暂无评级</td>
      <td>张乐赛</td>
    </tr>


    <tr class="odd">
      <td>99</td>
      <td data-pingyin="XYJJ"><a href="http://fund.eastmoney.com/company/80280395.html">兴业基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80280395.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80280395.html">公司吧</a></td>
      <td>2013-04-17</td>
      <td><a href="http://fund.eastmoney.com/company/80280395.html">52</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1326.80亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="lgray">暂无评级</td>
      <td>汤夕生</td>
    </tr>


    <tr class="">
      <td>100</td>
      <td data-pingyin="XYJJ"><a href="http://fund.eastmoney.com/company/80368700.html">兴银基金管理有限责任公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80368700.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80368700.html">公司吧</a></td>
      <td>2013-10-25</td>
      <td><a href="http://fund.eastmoney.com/company/80368700.html">16</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;653.09亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="lgray">暂无评级</td>
      <td>张力</td>
    </tr>


    <tr class="odd">
      <td>101</td>
      <td data-pingyin="YDJJ"><a href="http://fund.eastmoney.com/company/80175498.html">英大基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80175498.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80175498.html">公司吧</a></td>
      <td>2012-08-17</td>
      <td><a href="http://fund.eastmoney.com/company/80175498.html">12</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;21.26亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="lgray">暂无评级</td>
      <td>张传良(代)</td>
    </tr>


    <tr class="">
      <td>102</td>
      <td data-pingyin="YFDJJ"><a href="http://fund.eastmoney.com/company/80000229.html">易方达基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80000229.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80000229.html">公司吧</a></td>
      <td>2001-04-17</td>
      <td><a href="http://fund.eastmoney.com/company/80000229.html">174</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4172.38亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="">★★★★</td>
      <td>刘晓艳</td>
    </tr>


    <tr class="odd">
      <td>103</td>
      <td data-pingyin="YHJJ"><a href="http://fund.eastmoney.com/company/80000237.html">银河基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80000237.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80000237.html">公司吧</a></td>
      <td>2002-06-14</td>
      <td><a href="http://fund.eastmoney.com/company/80000237.html">66</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;656.22亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="">★★★</td>
      <td>刘立达</td>
    </tr>


    <tr class="">
      <td>104</td>
      <td data-pingyin="YHJJ"><a href="http://fund.eastmoney.com/company/80000235.html">银华基金管理股份有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80000235.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80000235.html">公司吧</a></td>
      <td>2001-05-28</td>
      <td><a href="http://fund.eastmoney.com/company/80000235.html">109</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1633.26亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="">★★★★</td>
      <td>王立新</td>
    </tr>


    <tr class="odd">
      <td>105</td>
      <td data-pingyin="YMJJ"><a href="http://fund.eastmoney.com/company/80046522.html">益民基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80046522.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80046522.html">公司吧</a></td>
      <td>2005-12-12</td>
      <td><a href="http://fund.eastmoney.com/company/80046522.html">7</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;18.44亿元</span><span
              style="float:right;color:gray;text-align:right">12-31&nbsp;&nbsp;&nbsp;</span></td>
      <td class="lgray">暂无评级</td>
      <td>黄桦</td>
    </tr>


    <tr class="">
      <td>106</td>
      <td data-pingyin="YXYFJJ"><a href="http://fund.eastmoney.com/company/80280036.html">圆信永丰基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80280036.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80280036.html">公司吧</a></td>
      <td>2014-01-02</td>
      <td><a href="http://fund.eastmoney.com/company/80280036.html">11</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;80.98亿元</span><span
              style="float:right;color:gray;text-align:right">12-31&nbsp;&nbsp;&nbsp;</span></td>
      <td class="lgray">暂无评级</td>
      <td>董晓亮</td>
    </tr>


    <tr class="odd">
      <td>107</td>
      <td data-pingyin="YYJJ"><a href="http://fund.eastmoney.com/company/80356155.html">永赢基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80356155.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80356155.html">公司吧</a></td>
      <td>2013-11-07</td>
      <td><a href="http://fund.eastmoney.com/company/80356155.html">9</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;43.04亿元</span><span
              style="float:right;color:gray;text-align:right">12-31&nbsp;&nbsp;&nbsp;</span></td>
      <td class="lgray">暂无评级</td>
      <td>芦特尔</td>
    </tr>


    <tr class="">
      <td>108</td>
      <td data-pingyin="ZHJJ"><a href="http://fund.eastmoney.com/company/80046614.html">中海基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80046614.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80046614.html">公司吧</a></td>
      <td>2004-03-18</td>
      <td><a href="http://fund.eastmoney.com/company/80046614.html">47</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;342.41亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="lgray">暂无评级</td>
      <td>黄鹏</td>
    </tr>


    <tr class="odd">
      <td>109</td>
      <td data-pingyin="ZHJJ"><a href="http://fund.eastmoney.com/company/80508391.html">中航基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80508391.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80508391.html">公司吧</a></td>
      <td>2016-06-16</td>
      <td><a href="http://fund.eastmoney.com/company/80508391.html">1</a></td>
      <td>---</td>
      <td class="lgray">暂无评级</td>
      <td>陈四汝</td>
    </tr>


    <tr class="">
      <td>110</td>
      <td data-pingyin="ZJJJ"><a href="http://fund.eastmoney.com/company/80365986.html">中金基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80365986.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80365986.html">公司吧</a></td>
      <td>2014-02-10</td>
      <td><a href="http://fund.eastmoney.com/company/80365986.html">13</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;35.64亿元</span><span
              style="float:right;color:gray;text-align:right">12-31&nbsp;&nbsp;&nbsp;</span></td>
      <td class="lgray">暂无评级</td>
      <td>孙菁</td>
    </tr>


    <tr class="odd">
      <td>111</td>
      <td data-pingyin="ZJJJ"><a href="http://fund.eastmoney.com/company/80351345.html">中加基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80351345.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80351345.html">公司吧</a></td>
      <td>2013-03-27</td>
      <td><a href="http://fund.eastmoney.com/company/80351345.html">18</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;413.80亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="lgray">暂无评级</td>
      <td>夏英</td>
    </tr>


    <tr class="">
      <td>112</td>
      <td data-pingyin="ZKWTJJ"><a href="http://fund.eastmoney.com/company/80455765.html">中科沃土基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80455765.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80455765.html">公司吧</a></td>
      <td>2015-09-06</td>
      <td><a href="http://fund.eastmoney.com/company/80455765.html">3</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;13.18亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="lgray">暂无评级</td>
      <td>杨绍基</td>
    </tr>


    <tr class="odd">
      <td>113</td>
      <td data-pingyin="ZOJJ"><a href="http://fund.eastmoney.com/company/80065113.html">中欧基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80065113.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80065113.html">公司吧</a></td>
      <td>2006-07-19</td>
      <td><a href="http://fund.eastmoney.com/company/80065113.html">100</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;776.86亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="">★★★★★</td>
      <td>刘建平</td>
    </tr>


    <tr class="">
      <td>114</td>
      <td data-pingyin="ZRJJ"><a href="http://fund.eastmoney.com/company/80341238.html">中融基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80341238.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80341238.html">公司吧</a></td>
      <td>2013-05-31</td>
      <td><a href="http://fund.eastmoney.com/company/80341238.html">62</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;420.07亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="lgray">暂无评级</td>
      <td>杨凯</td>
    </tr>


    <tr class="odd">
      <td>115</td>
      <td data-pingyin="ZSJJ"><a href="http://fund.eastmoney.com/company/80036782.html">招商基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80036782.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80036782.html">公司吧</a></td>
      <td>2002-12-27</td>
      <td><a href="http://fund.eastmoney.com/company/80036782.html">213</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3455.59亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="">★★★</td>
      <td>金旭</td>
    </tr>


    <tr class="">
      <td>116</td>
      <td data-pingyin="ZSJJ"><a href="http://fund.eastmoney.com/company/80156777.html">浙商基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80156777.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80156777.html">公司吧</a></td>
      <td>2010-10-21</td>
      <td><a href="http://fund.eastmoney.com/company/80156777.html">20</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;119.55亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="">★★★★</td>
      <td>李志惠</td>
    </tr>


    <tr class="odd">
      <td>117</td>
      <td data-pingyin="ZSZQZG"><a href="http://fund.eastmoney.com/company/80403111.html">浙江浙商证券资产管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80403111.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80403111.html">公司吧</a></td>
      <td>2013-04-18</td>
      <td><a href="http://fund.eastmoney.com/company/80403111.html">7</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;14.36亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="lgray">暂无评级</td>
      <td>李雪峰</td>
    </tr>


    <tr class="">
      <td>118</td>
      <td data-pingyin="ZXJTJJ"><a href="http://fund.eastmoney.com/company/80355113.html">中信建投基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80355113.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80355113.html">公司吧</a></td>
      <td>2013-09-09</td>
      <td><a href="http://fund.eastmoney.com/company/80355113.html">17</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;94.61亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="lgray">暂无评级</td>
      <td>张杰</td>
    </tr>


    <tr class="odd" style="background: rgb(255, 255, 255);">
      <td>119</td>
      <td data-pingyin="ZYGJZQ"><a href="http://fund.eastmoney.com/company/80000200.html">中银国际证券有限责任公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80000200.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80000200.html">公司吧</a></td>
      <td>2002-02-28</td>
      <td><a href="http://fund.eastmoney.com/company/80000200.html">8</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;369.43亿元</span><span
              style="float:right;color:gray;text-align:right">12-31&nbsp;&nbsp;&nbsp;</span></td>
      <td class="lgray">暂无评级</td>
      <td>宁敏</td>
    </tr>


    <tr class="" style="background: rgb(255, 255, 255);">
      <td>120</td>
      <td data-pingyin="ZYJJ"><a href="http://fund.eastmoney.com/company/80075936.html">中邮创业基金管理股份有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80075936.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80075936.html">公司吧</a></td>
      <td>2006-05-08</td>
      <td><a href="http://fund.eastmoney.com/company/80075936.html">38</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;623.24亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="">★★★★★</td>
      <td>周克</td>
    </tr>


    <tr class="odd" style="background: rgb(255, 255, 255);">
      <td>121</td>
      <td data-pingyin="ZYJJ"><a href="http://fund.eastmoney.com/company/80048752.html">中银基金管理有限公司</a></td>
      <td><a href="http://fund.eastmoney.com/company/80048752.html">详情</a><a
              href="http://jijinba.eastmoney.com/type,zg80048752.html">公司吧</a></td>
      <td>2004-08-12</td>
      <td><a href="http://fund.eastmoney.com/company/80048752.html">103</a></td>
      <td><span style="float:left;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3421.74亿元</span><span
              style="float:right;color:gray;text-align:right">01-20&nbsp;&nbsp;&nbsp;</span></td>
      <td class="">★★★</td>
      <td>李道滨</td>
    </tr>


  </tbody>
</table>





