<table align="center" class="dbtable" id="oTable">
  <thead>
  <tr class="h">
    <td width="30" rowspan="2" align="center">关注</td>
    <td width="30" rowspan="2" align="center">比较</td>
    <td width="30" rowspan="2" align="center">
      <nobr>序号</nobr>
    </td>
    <td width="60" rowspan="2" align="center">
      <nobr><a id="s_bzdm" href="LJ_bzdm.html#isall_0" target="_self">基金代码</a></nobr>
    </td>
    <td rowspan="2" width="248" align="center">
      <nobr>基金简称</nobr>
    </td>
    <td colspan="2" align="center"><span>2017-01-24</span></td>
    <td colspan="2" align="center"><span>2017-01-23</span></td>
    <td width="60" rowspan="2" align="center">
      <nobr><a id="s_rzzz" href="LJ_jzzzz.html#isall_0" target="_self">日增长值</a></nobr>
    </td>
    <td width="60" rowspan="2" align="center" class="desc">
      <nobr><a id="s_rzzl" href="LJ_jzzzl.html#isall_0" target="_self">日增长率</a></nobr>
    </td>
    <td width="60" rowspan="2" align="center">申购状态</td>
    <td width="60" rowspan="2" align="center">赎回状态</td>
    <td width="50" rowspan="2" align="center">
      <nobr>手续费</nobr>
    </td>
    <td rowspan="2" width="55" align="center">
      <input id="rdDXJJY" type="radio" name="dxjj" onclick="canbuy(this)"><span class="clskgjj" style="cursor: pointer;" onclick="canbuyjjspan()">可购</span><br><input id="rdDXJJN" type="radio" name="dxjj" checked="checked" onclick="allfund(this)"><span class="clsallfund" style="cursor: pointer;" onclick="alljjspan()">全部</span>
    </td>
  </tr>
  <tr class="h odd">
    <td width="60" align="center">
      <nobr><a id="s_dwjz" href="LJ_dwjz.html#isall_0" target="_self">单位净值</a></nobr>
    </td>
    <td width="60" align="center">
      <nobr><a id="s_ljjz" href="LJ_ljjz.html#isall_0" target="_self">累计净值</a></nobr>
    </td>
    <td width="60" align="center">
      <nobr><a id="s_zrdwjz" href="LJ_zrdwjz.html#isall_0" target="_self">单位净值</a></nobr>
    </td>
    <td width="60" align="center">
      <nobr><a id="s_zrljjz" href="LJ_zrljjz.html#isall_0" target="_self">累计净值</a></nobr>
    </td>
  </tr>
  </thead>
  <tbody>
  <tr id="tr001460" class="">
    <td class="gz"><a class="noAttention " title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk001460"></td>
    <td class="xh">1</td>
    <td class="bzdm">001460</td>
    <td class="tol">
      <nobr>
        <a title="广发中证全指能源ETF联接A" href="001460.html">广发中证全指能源ETF联接</a><a href="001460.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,001460.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">0.8552</td>
    <td class="ljjz black">0.8552</td>
    <td class="dwjz black">0.8460</td>
    <td class="ljjz black">0.8460</td>
    <td class="rzzz  red">0.0092</td>
    <td class="rzzl bg red">1.09%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_001460.html">0.12%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=001460">购买</a></td>
  </tr>
  <tr id="tr002973" class="odd      ">
    <td class="gz"><a class="noAttention " title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk002973"></td>
    <td class="xh">2</td>
    <td class="bzdm">002973</td>
    <td class="tol">
      <nobr>
        <a title="广发中证全指能源ETF联接C" href="002973.html">广发中证全指能源ETF联接</a><a href="002973.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,002973.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">0.8550</td>
    <td class="ljjz black">0.8550</td>
    <td class="dwjz black">0.8459</td>
    <td class="ljjz black">0.8459</td>
    <td class="rzzz  red">0.0091</td>
    <td class="rzzl bg red">1.08%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_002973.html">0.00%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=002973">购买</a></td>
  </tr>
  <tr id="tr240016" class="">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk240016"></td>
    <td class="xh">3</td>
    <td class="bzdm">240016</td>
    <td class="tol">
      <nobr>
        <a title="华宝上证180联接" href="240016.html">华宝上证180联接</a><a href="240016.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,240016.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">1.4480</td>
    <td class="ljjz black">1.4780</td>
    <td class="dwjz black">1.4410</td>
    <td class="ljjz black">1.4710</td>
    <td class="rzzz  red">0.0070</td>
    <td class="rzzl bg red">0.49%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_240016.html">0.15%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=240016">购买</a></td>
  </tr>
  <tr id="tr530015" class="odd">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk530015"></td>
    <td class="xh">4</td>
    <td class="bzdm">530015</td>
    <td class="tol">
      <nobr>
        <a title="建信深证60联接" href="530015.html">建信深证60联接</a><a href="530015.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,530015.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">1.4366</td>
    <td class="ljjz black">1.4366</td>
    <td class="dwjz black">1.4304</td>
    <td class="ljjz black">1.4304</td>
    <td class="rzzz  red">0.0062</td>
    <td class="rzzl bg red">0.43%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_530015.html">0.15%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=530015">购买</a></td>
  </tr>
  <tr id="tr070023">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk070023"></td>
    <td class="xh">5</td>
    <td class="bzdm">070023</td>
    <td class="tol">
      <nobr>
        <a title="嘉实深证120联接" href="070023.html">嘉实深证120联接</a><a href="070023.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,070023.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">1.3949</td>
    <td class="ljjz black">1.3949</td>
    <td class="dwjz black">1.3895</td>
    <td class="ljjz black">1.3895</td>
    <td class="rzzz  red">0.0054</td>
    <td class="rzzl bg red">0.39%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_070023.html">0.12%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=070023">购买</a></td>
  </tr>
  <tr id="tr050013" class="odd">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk050013"></td>
    <td class="xh">6</td>
    <td class="bzdm">050013</td>
    <td class="tol">
      <nobr>
        <a title="博时上证超大盘联接" href="050013.html">博时上证超大盘联接</a><a href="050013.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,050013.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">0.8948</td>
    <td class="ljjz black">0.8948</td>
    <td class="dwjz black">0.8914</td>
    <td class="ljjz black">0.8914</td>
    <td class="rzzz  red">0.0034</td>
    <td class="rzzl bg red">0.38%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_050013.html">0.12%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=050013">购买</a></td>
  </tr>
  <tr id="tr519027">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk519027"></td>
    <td class="xh">7</td>
    <td class="bzdm">519027</td>
    <td class="tol">
      <nobr>
        <a title="海富通上证周期联接" href="519027.html">海富通上证周期联接</a><a href="519027.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,519027.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">1.1090</td>
    <td class="ljjz black">1.1090</td>
    <td class="dwjz black">1.1050</td>
    <td class="ljjz black">1.1050</td>
    <td class="rzzz  red">0.0040</td>
    <td class="rzzl bg red">0.36%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_519027.html">0.12%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=519027">购买</a></td>
  </tr>
  <tr id="tr020021" class="odd">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk020021"></td>
    <td class="xh">8</td>
    <td class="bzdm">020021</td>
    <td class="tol">
      <nobr>
        <a title="国泰上证180金融联接" href="020021.html">国泰上证180金融联接</a><a href="020021.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,020021.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">1.4658</td>
    <td class="ljjz black">1.4658</td>
    <td class="dwjz black">1.4606</td>
    <td class="ljjz black">1.4606</td>
    <td class="rzzz  red">0.0052</td>
    <td class="rzzl bg red">0.36%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_020021.html">0.12%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=020021">购买</a></td>
  </tr>
  <tr id="tr257060">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk257060"></td>
    <td class="xh">9</td>
    <td class="bzdm">257060</td>
    <td class="tol">
      <nobr>
        <a title="国联安商品ETF联接" href="257060.html">国联安商品ETF联接</a><a href="257060.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,257060.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">0.5690</td>
    <td class="ljjz black">0.5690</td>
    <td class="dwjz black">0.5670</td>
    <td class="ljjz black">0.5670</td>
    <td class="rzzz  red">0.0020</td>
    <td class="rzzl bg red">0.35%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_257060.html">0.15%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=257060">购买</a></td>
  </tr>
  <tr id="tr100053" class="odd ">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk100053"></td>
    <td class="xh">10</td>
    <td class="bzdm">100053</td>
    <td class="tol">
      <nobr>
        <a title="富国上证综指联接" href="100053.html">富国上证综指联接</a><a href="100053.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,100053.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">1.1900</td>
    <td class="ljjz black">1.1900</td>
    <td class="dwjz black">1.1860</td>
    <td class="ljjz black">1.1860</td>
    <td class="rzzz  red">0.0040</td>
    <td class="rzzl bg red">0.34%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_100053.html">0.15%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=100053">购买</a></td>
  </tr>
  <tr id="tr050024">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk050024"></td>
    <td class="xh">11</td>
    <td class="bzdm">050024</td>
    <td class="tol">
      <nobr>
        <a title="博时上证自然资源联接" href="050024.html">博时上证自然资源联接</a><a href="050024.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,050024.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">0.6838</td>
    <td class="ljjz black">0.6838</td>
    <td class="dwjz black">0.6817</td>
    <td class="ljjz black">0.6817</td>
    <td class="rzzz  red">0.0021</td>
    <td class="rzzl bg red">0.31%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_050024.html">0.12%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=050024">购买</a></td>
  </tr>
  <tr id="tr530010" class="odd">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk530010"></td>
    <td class="xh">12</td>
    <td class="bzdm">530010</td>
    <td class="tol">
      <nobr>
        <a title="建信责任联接" href="530010.html">建信责任联接</a><a href="530010.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,530010.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">1.4953</td>
    <td class="ljjz black">1.4953</td>
    <td class="dwjz black">1.4910</td>
    <td class="ljjz black">1.4910</td>
    <td class="rzzz  red">0.0043</td>
    <td class="rzzl bg red">0.29%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_530010.html">0.15%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=530010">购买</a></td>
  </tr>
  <tr id="tr519686">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk519686"></td>
    <td class="xh">13</td>
    <td class="bzdm">519686</td>
    <td class="tol">
      <nobr>
        <a title="交银180治理联接" href="519686.html">交银180治理联接</a><a href="519686.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,519686.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">1.1190</td>
    <td class="ljjz black">1.1190</td>
    <td class="dwjz black">1.1160</td>
    <td class="ljjz black">1.1160</td>
    <td class="rzzz  red">0.0030</td>
    <td class="rzzl bg red">0.27%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_519686.html">0.15%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=519686">购买</a></td>
  </tr>
  <tr id="tr050021" class="odd">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk050021"></td>
    <td class="xh">14</td>
    <td class="bzdm">050021</td>
    <td class="tol">
      <nobr>
        <a title="博时深证200联接" href="050021.html">博时深证200联接</a><a href="050021.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,050021.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">1.2087</td>
    <td class="ljjz black">1.2087</td>
    <td class="dwjz black">1.2055</td>
    <td class="ljjz black">1.2055</td>
    <td class="rzzz  red">0.0032</td>
    <td class="rzzl bg red">0.27%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_050021.html">0.12%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=050021">购买</a></td>
  </tr>
  <tr id="tr001237">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk001237"></td>
    <td class="xh">15</td>
    <td class="bzdm">001237</td>
    <td class="tol">
      <nobr>
        <a title="博时上证50ETF联接" href="001237.html">博时上证50ETF联接</a><a href="001237.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,001237.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">0.7966</td>
    <td class="ljjz black">0.7966</td>
    <td class="dwjz black">0.7949</td>
    <td class="ljjz black">0.7949</td>
    <td class="rzzz  red">0.0017</td>
    <td class="rzzl bg red">0.21%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_001237.html">0.12%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=001237">购买</a></td>
  </tr>
  <tr id="tr481012" class="odd">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk481012"></td>
    <td class="xh">16</td>
    <td class="bzdm">481012</td>
    <td class="tol">
      <nobr>
        <a title="工银深证红利联接" href="481012.html">工银深证红利联接</a><a href="481012.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,481012.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">0.9857</td>
    <td class="ljjz black">1.1639</td>
    <td class="dwjz black">0.9837</td>
    <td class="ljjz black">1.1619</td>
    <td class="rzzz  red">0.0020</td>
    <td class="rzzl bg red">0.20%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_481012.html">0.10%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=481012">购买</a></td>
  </tr>
  <tr id="tr001469">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk001469"></td>
    <td class="xh">17</td>
    <td class="bzdm">001469</td>
    <td class="tol">
      <nobr>
        <a title="广发中证全指金融地产联接A" href="001469.html">广发中证全指金融地产联接A</a><a href="001469.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,001469.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">0.8953</td>
    <td class="ljjz black">0.8953</td>
    <td class="dwjz black">0.8935</td>
    <td class="ljjz black">0.8935</td>
    <td class="rzzz  red">0.0018</td>
    <td class="rzzl bg red">0.20%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_001469.html">0.12%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=001469">购买</a></td>
  </tr>
  <tr id="tr161211" class="odd">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk161211"></td>
    <td class="xh">18</td>
    <td class="bzdm">161211</td>
    <td class="tol">
      <nobr>
        <a title="国投沪深300金融地产联接" href="161211.html">国投沪深300金融地产联接</a><a href="161211.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,161211.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">1.3161</td>
    <td class="ljjz black">1.3161</td>
    <td class="dwjz black">1.3135</td>
    <td class="ljjz black">1.3135</td>
    <td class="rzzz  red">0.0026</td>
    <td class="rzzl bg red">0.20%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_161211.html">0.12%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=161211">购买</a></td>
  </tr>
  <tr id="tr001539">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk001539"></td>
    <td class="xh">19</td>
    <td class="bzdm">001539</td>
    <td class="tol">
      <nobr>
        <a title="嘉实中证金融地产ETF联接" href="001539.html">嘉实中证金融地产ETF联接</a><a href="001539.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,001539.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">1.1021</td>
    <td class="ljjz black">1.1021</td>
    <td class="dwjz black">1.1000</td>
    <td class="ljjz black">1.1000</td>
    <td class="rzzz  red">0.0021</td>
    <td class="rzzl bg red">0.19%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_001539.html">0.12%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=001539">购买</a></td>
  </tr>
  <tr id="tr002979" class="odd">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk002979"></td>
    <td class="xh">20</td>
    <td class="bzdm">002979</td>
    <td class="tol">
      <nobr>
        <a title="广发中证全指金融地产联接C" href="002979.html">广发中证全指金融地产联接C</a><a href="002979.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,002979.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">0.8961</td>
    <td class="ljjz black">0.8961</td>
    <td class="dwjz black">0.8944</td>
    <td class="ljjz black">0.8944</td>
    <td class="rzzz  red">0.0017</td>
    <td class="rzzl bg red">0.19%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_002979.html">0.00%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=002979">购买</a></td>
  </tr>
  <tr id="tr180033">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk180033"></td>
    <td class="xh">21</td>
    <td class="bzdm">180033</td>
    <td class="tol">
      <nobr>
        <a title="银华上证50等权联接" href="180033.html">银华上证50等权联接</a><a href="180033.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,180033.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">1.1820</td>
    <td class="ljjz black">1.1820</td>
    <td class="dwjz black">1.1800</td>
    <td class="ljjz black">1.1800</td>
    <td class="rzzz  red">0.0020</td>
    <td class="rzzl bg red">0.17%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_180033.html">0.12%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=180033">购买</a></td>
  </tr>
  <tr id="tr001459" class="odd">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk001459"></td>
    <td class="xh">22</td>
    <td class="bzdm">001459</td>
    <td class="tol">
      <nobr>
        <a title="广发中证全指原材料联接A" href="001459.html">广发中证全指原材料联接A</a><a href="001459.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,001459.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">1.0561</td>
    <td class="ljjz black">1.0561</td>
    <td class="dwjz black">1.0545</td>
    <td class="ljjz black">1.0545</td>
    <td class="rzzz  red">0.0016</td>
    <td class="rzzl bg red">0.15%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_001459.html">0.12%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=001459">购买</a></td>
  </tr>
  <tr id="tr002975">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk002975"></td>
    <td class="xh">23</td>
    <td class="bzdm">002975</td>
    <td class="tol">
      <nobr>
        <a title="广发中证全指原材料联接C" href="002975.html">广发中证全指原材料联接C</a><a href="002975.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,002975.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">1.0561</td>
    <td class="ljjz black">1.0561</td>
    <td class="dwjz black">1.0545</td>
    <td class="ljjz black">1.0545</td>
    <td class="rzzz  red">0.0016</td>
    <td class="rzzl bg red">0.15%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_002975.html">0.00%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=002975">购买</a></td>
  </tr>
  <tr id="tr240019" class="odd">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk240019"></td>
    <td class="xh">24</td>
    <td class="bzdm">240019</td>
    <td class="tol">
      <nobr>
        <a title="华宝上证180成长联接" href="240019.html">华宝上证180成长联接</a><a href="240019.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,240019.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">1.4080</td>
    <td class="ljjz black">1.4080</td>
    <td class="dwjz black">1.4060</td>
    <td class="ljjz black">1.4060</td>
    <td class="rzzz  red">0.0020</td>
    <td class="rzzl bg red">0.14%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_240019.html">0.15%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=240019">购买</a></td>
  </tr>
  <tr id="tr001051">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk001051"></td>
    <td class="xh">25</td>
    <td class="bzdm">001051</td>
    <td class="tol">
      <nobr>
        <a title="华夏上证50ETF联接" href="001051.html">华夏上证50ETF联接</a><a href="001051.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,001051.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">0.7810</td>
    <td class="ljjz black">0.7810</td>
    <td class="dwjz black">0.7800</td>
    <td class="ljjz black">0.7800</td>
    <td class="rzzz  red">0.0010</td>
    <td class="rzzl bg red">0.13%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_001051.html">0.12%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=001051">购买</a></td>
  </tr>
  <tr id="tr040180" class="odd">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk040180"></td>
    <td class="xh">26</td>
    <td class="bzdm">040180</td>
    <td class="tol">
      <nobr>
        <a title="华安上证180联接" href="040180.html">华安上证180联接</a><a href="040180.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,040180.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">1.2194</td>
    <td class="ljjz black">1.2194</td>
    <td class="dwjz black">1.2179</td>
    <td class="ljjz black">1.2179</td>
    <td class="rzzz  red">0.0015</td>
    <td class="rzzl bg red">0.12%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_040180.html">0.12%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=040180">购买</a></td>
  </tr>
  <tr id="tr000248">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk000248"></td>
    <td class="xh">27</td>
    <td class="bzdm">000248</td>
    <td class="tol">
      <nobr>
        <a title="汇添富中证主要消费ETF联接" href="000248.html">汇添富中证主要消费ETF联</a><a href="000248.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,000248.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">1.0192</td>
    <td class="ljjz black">1.0192</td>
    <td class="dwjz black">1.0186</td>
    <td class="ljjz black">1.0186</td>
    <td class="rzzz  red">0.0006</td>
    <td class="rzzl bg red">0.06%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_000248.html">0.10%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=000248">购买</a></td>
  </tr>
  <tr id="tr002987" class="odd">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk002987"></td>
    <td class="xh">28</td>
    <td class="bzdm">002987</td>
    <td class="tol">
      <nobr>
        <a title="广发沪深300ETF联接C" href="002987.html">广发沪深300ETF联接C</a><a href="002987.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,002987.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">1.5263</td>
    <td class="ljjz black">1.5263</td>
    <td class="dwjz black">1.5259</td>
    <td class="ljjz black">1.5259</td>
    <td class="rzzz  red">0.0004</td>
    <td class="rzzl bg red">0.03%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_002987.html">0.00%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=002987">购买</a></td>
  </tr>
  <tr id="tr202015">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk202015"></td>
    <td class="xh">29</td>
    <td class="bzdm">202015</td>
    <td class="tol">
      <nobr>
        <a title="南方开元沪深300ETF联接" href="202015.html">南方开元沪深300ETF联</a><a href="202015.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,202015.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">1.2083</td>
    <td class="ljjz black">1.3683</td>
    <td class="dwjz black">1.2080</td>
    <td class="ljjz black">1.3680</td>
    <td class="rzzz  red">0.0003</td>
    <td class="rzzl bg red">0.02%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_202015.html">0.12%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=202015">购买</a></td>
  </tr>
  <tr id="tr270010" class="odd">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk270010"></td>
    <td class="xh">30</td>
    <td class="bzdm">270010</td>
    <td class="tol">
      <nobr>
        <a title="广发沪深300ETF联接A" href="270010.html">广发沪深300ETF联接A</a><a href="270010.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,270010.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">1.5283</td>
    <td class="ljjz black">1.8183</td>
    <td class="dwjz black">1.5280</td>
    <td class="ljjz black">1.8180</td>
    <td class="rzzz  red">0.0003</td>
    <td class="rzzl bg red">0.02%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_270010.html">0.12%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=270010">购买</a></td>
  </tr>
  <tr id="tr110020">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk110020"></td>
    <td class="xh">31</td>
    <td class="bzdm">110020</td>
    <td class="tol">
      <nobr>
        <a title="易方达沪深300ETF联接" href="110020.html">易方达沪深300ETF联接</a><a href="110020.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,110020.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">1.1164</td>
    <td class="ljjz black">1.1164</td>
    <td class="dwjz black">1.1162</td>
    <td class="ljjz black">1.1162</td>
    <td class="rzzz  red">0.0002</td>
    <td class="rzzl bg red">0.02%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_110020.html">0.12%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=110020">购买</a></td>
  </tr>
  <tr id="tr202021" class="odd">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk202021"></td>
    <td class="xh">32</td>
    <td class="bzdm">202021</td>
    <td class="tol">
      <nobr>
        <a title="南方小康产业联接" href="202021.html">南方小康产业联接</a><a href="202021.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,202021.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">1.1917</td>
    <td class="ljjz black">1.2117</td>
    <td class="dwjz black">1.1915</td>
    <td class="ljjz black">1.2115</td>
    <td class="rzzz  red">0.0002</td>
    <td class="rzzl bg red">0.02%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_202021.html">0.12%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=202021">购买</a></td>
  </tr>
  <tr id="tr460300">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk460300"></td>
    <td class="xh">33</td>
    <td class="bzdm">460300</td>
    <td class="tol">
      <nobr>
        <a title="华泰柏瑞沪深300联接" href="460300.html">华泰柏瑞沪深300联接</a><a href="460300.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,460300.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">1.4964</td>
    <td class="ljjz black">1.4964</td>
    <td class="dwjz black">1.4963</td>
    <td class="ljjz black">1.4963</td>
    <td class="rzzz  red">0.0001</td>
    <td class="rzzl bg red">0.01%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_460300.html">0.10%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=460300">购买</a></td>
  </tr>
  <tr id="tr519706" class="odd">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk519706"></td>
    <td class="xh">34</td>
    <td class="bzdm">519706</td>
    <td class="tol">
      <nobr>
        <a title="交银深证300联接" href="519706.html">交银深证300联接</a><a href="519706.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,519706.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">1.3740</td>
    <td class="ljjz black">1.3740</td>
    <td class="dwjz black">1.3740</td>
    <td class="ljjz black">1.3740</td>
    <td class="rzzz  black">0.0000</td>
    <td class="rzzl bg black">0.00%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_519706.html">0.15%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=519706">购买</a></td>
  </tr>
  <tr id="tr000051">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk000051"></td>
    <td class="xh">35</td>
    <td class="bzdm">000051</td>
    <td class="tol">
      <nobr>
        <a title="华夏沪深300ETF联接" href="000051.html">华夏沪深300ETF联接</a><a href="000051.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,000051.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">1.0780</td>
    <td class="ljjz black">1.0780</td>
    <td class="dwjz black">1.0780</td>
    <td class="ljjz black">1.0780</td>
    <td class="rzzz  black">0.0000</td>
    <td class="rzzl bg black">0.00%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_000051.html">0.12%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=000051">购买</a></td>
  </tr>
  <tr id="tr160706" class="odd">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk160706"></td>
    <td class="xh">36</td>
    <td class="bzdm">160706</td>
    <td class="tol">
      <nobr>
        <a title="嘉实沪深300ETF联接" href="160706.html">嘉实沪深300ETF联接</a><a href="160706.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,160706.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">0.9579</td>
    <td class="ljjz black">2.8259</td>
    <td class="dwjz black">0.9579</td>
    <td class="ljjz black">2.8259</td>
    <td class="rzzz  black">0.0000</td>
    <td class="rzzl bg black">0.00%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_160706.html">0.15%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=160706">购买</a></td>
  </tr>
  <tr id="tr000975">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk000975"></td>
    <td class="xh">37</td>
    <td class="bzdm">000975</td>
    <td class="tol">
      <nobr>
        <a title="MSCI中国A股ETF联接" href="000975.html">MSCI中国A股ETF联接</a><a href="000975.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,000975.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">0.9540</td>
    <td class="ljjz black">0.9540</td>
    <td class="dwjz black">0.9540</td>
    <td class="ljjz black">0.9540</td>
    <td class="rzzz  black">0.0000</td>
    <td class="rzzl bg black">0.00%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_000975.html">0.12%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=000975">购买</a></td>
  </tr>
  <tr id="tr110021" class="odd   ">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk110021"></td>
    <td class="xh">38</td>
    <td class="bzdm">110021</td>
    <td class="tol">
      <nobr>
        <a title="易方达上证中盘联接" href="110021.html">易方达上证中盘联接</a><a href="110021.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,110021.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">1.2286</td>
    <td class="ljjz black">1.2286</td>
    <td class="dwjz black">1.2288</td>
    <td class="ljjz black">1.2288</td>
    <td class="rzzz  green">-0.0002</td>
    <td class="rzzl bg green">-0.02%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_110021.html">0.12%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=110021">购买</a></td>
  </tr>
  <tr id="tr001458" class="">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk001458"></td>
    <td class="xh">39</td>
    <td class="bzdm">001458</td>
    <td class="tol">
      <nobr>
        <a title="广发中证全指主要消费联接A" href="001458.html">广发中证全指主要消费联接A</a><a href="001458.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,001458.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">1.0974</td>
    <td class="ljjz black">1.0974</td>
    <td class="dwjz black">1.0979</td>
    <td class="ljjz black">1.0979</td>
    <td class="rzzz  green">-0.0005</td>
    <td class="rzzl bg green">-0.05%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_001458.html">0.12%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=001458">购买</a></td>
  </tr>
  <tr id="tr002976" class="odd">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk002976"></td>
    <td class="xh">40</td>
    <td class="bzdm">002976</td>
    <td class="tol">
      <nobr>
        <a title="广发中证全指主要消费联接C" href="002976.html">广发中证全指主要消费联接C</a><a href="002976.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,002976.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">1.0972</td>
    <td class="ljjz black">1.0972</td>
    <td class="dwjz black">1.0977</td>
    <td class="ljjz black">1.0977</td>
    <td class="rzzz  green">-0.0005</td>
    <td class="rzzl bg green">-0.05%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_002976.html">0.00%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=002976">购买</a></td>
  </tr>
  <tr id="tr000088">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk000088"></td>
    <td class="xh">41</td>
    <td class="bzdm">000088</td>
    <td class="tol">
      <nobr>
        <a title="嘉实中证金边国债ETF联接C" href="000088.html">嘉实中证金边国债ETF联接</a><a href="000088.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,000088.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">1.0870</td>
    <td class="ljjz black">1.0870</td>
    <td class="dwjz black">1.0876</td>
    <td class="ljjz black">1.0876</td>
    <td class="rzzz  green">-0.0006</td>
    <td class="rzzl bg green">-0.06%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_000088.html">0.00%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=000088">购买</a></td>
  </tr>
  <tr id="tr000087" class="odd">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk000087"></td>
    <td class="xh">42</td>
    <td class="bzdm">000087</td>
    <td class="tol">
      <nobr>
        <a title="嘉实中证金边国债ETF联接A" href="000087.html">嘉实中证金边国债ETF联接</a><a href="000087.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,000087.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">1.0917</td>
    <td class="ljjz black">1.0917</td>
    <td class="dwjz black">1.0924</td>
    <td class="ljjz black">1.0924</td>
    <td class="rzzz  green">-0.0007</td>
    <td class="rzzl bg green">-0.06%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_000087.html">0.05%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=000087">购买</a></td>
  </tr>
  <tr id="tr263001">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk263001"></td>
    <td class="xh">43</td>
    <td class="bzdm">263001</td>
    <td class="tol">
      <nobr>
        <a title="景顺长城上证180联接" href="263001.html">景顺长城上证180联接</a><a href="263001.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,263001.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">1.4620</td>
    <td class="ljjz black">1.4620</td>
    <td class="dwjz black">1.4630</td>
    <td class="ljjz black">1.4630</td>
    <td class="rzzz  green">-0.0010</td>
    <td class="rzzl bg green">-0.07%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_263001.html">0.12%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=263001">购买</a></td>
  </tr>
  <tr id="tr206005" class="odd">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk206005"></td>
    <td class="xh">44</td>
    <td class="bzdm">206005</td>
    <td class="tol">
      <nobr>
        <a title="鹏华上证民企50ETF联接" href="206005.html">鹏华上证民企50ETF联接</a><a href="206005.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,206005.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">1.3340</td>
    <td class="ljjz black">1.3340</td>
    <td class="dwjz black">1.3350</td>
    <td class="ljjz black">1.3350</td>
    <td class="rzzz  green">-0.0010</td>
    <td class="rzzl bg green">-0.07%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_206005.html">0.12%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=206005">购买</a></td>
  </tr>
  <tr id="tr040190">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk040190"></td>
    <td class="xh">45</td>
    <td class="bzdm">040190</td>
    <td class="tol">
      <nobr>
        <a title="华安上证龙头联接" href="040190.html">华安上证龙头联接</a><a href="040190.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,040190.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">1.2430</td>
    <td class="ljjz black">1.2430</td>
    <td class="dwjz black">1.2440</td>
    <td class="ljjz black">1.2440</td>
    <td class="rzzz  green">-0.0010</td>
    <td class="rzzl bg green">-0.08%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_040190.html">0.12%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=040190">购买</a></td>
  </tr>
  <tr id="tr001214" class="odd">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk001214"></td>
    <td class="xh">46</td>
    <td class="bzdm">001214</td>
    <td class="tol">
      <nobr>
        <a title="华泰柏瑞中证500ETF联接" href="001214.html">华泰柏瑞中证500ETF联</a><a href="001214.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,001214.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">0.6171</td>
    <td class="ljjz black">0.6171</td>
    <td class="dwjz black">0.6176</td>
    <td class="ljjz black">0.6176</td>
    <td class="rzzz  green">-0.0005</td>
    <td class="rzzl bg green">-0.08%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_001214.html">0.10%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=001214">购买</a></td>
  </tr>
  <tr id="tr162711">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk162711"></td>
    <td class="xh">47</td>
    <td class="bzdm">162711</td>
    <td class="tol">
      <nobr>
        <a title="广发中证500ETF联接A" href="162711.html">广发中证500ETF联接A</a><a href="162711.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,162711.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">1.2979</td>
    <td class="ljjz black">1.2979</td>
    <td class="dwjz black">1.2990</td>
    <td class="ljjz black">1.2990</td>
    <td class="rzzz  green">-0.0011</td>
    <td class="rzzl bg green">-0.08%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_162711.html">0.12%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=162711">购买</a></td>
  </tr>
  <tr id="tr002903" class="odd">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk002903"></td>
    <td class="xh">48</td>
    <td class="bzdm">002903</td>
    <td class="tol">
      <nobr>
        <a title="广发中证500ETF联接C" href="002903.html">广发中证500ETF联接C</a><a href="002903.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,002903.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">1.0446</td>
    <td class="ljjz black">1.0446</td>
    <td class="dwjz black">1.0455</td>
    <td class="ljjz black">1.0455</td>
    <td class="rzzz  green">-0.0009</td>
    <td class="rzzl bg green">-0.09%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_002903.html">0.00%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=002903">购买</a></td>
  </tr>
  <tr id="tr000008">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk000008"></td>
    <td class="xh">49</td>
    <td class="bzdm">000008</td>
    <td class="tol">
      <nobr>
        <a title="嘉实中证500ETF联接" href="000008.html">嘉实中证500ETF联接</a><a href="000008.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,000008.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">1.6779</td>
    <td class="ljjz black">1.6779</td>
    <td class="dwjz black">1.6794</td>
    <td class="ljjz black">1.6794</td>
    <td class="rzzz  green">-0.0015</td>
    <td class="rzzl bg green">-0.09%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_000008.html">0.12%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=000008">购买</a></td>
  </tr>
  <tr id="tr460220" class="odd">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk460220"></td>
    <td class="xh">50</td>
    <td class="bzdm">460220</td>
    <td class="tol">
      <nobr>
        <a title="华泰柏瑞中小盘联接" href="460220.html">华泰柏瑞中小盘联接</a><a href="460220.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,460220.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">1.0290</td>
    <td class="ljjz black">1.0290</td>
    <td class="dwjz black">1.0300</td>
    <td class="ljjz black">1.0300</td>
    <td class="rzzz  green">-0.0010</td>
    <td class="rzzl bg green">-0.10%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_460220.html">0.15%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=460220">购买</a></td>
  </tr>
  <tr id="tr020036">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk020036"></td>
    <td class="xh">51</td>
    <td class="bzdm">020036</td>
    <td class="tol">
      <nobr>
        <a title="国泰上证5年期国债联接C" href="020036.html">国泰上证5年期国债联接C</a><a href="020036.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,020036.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">0.9740</td>
    <td class="ljjz black">0.9740</td>
    <td class="dwjz black">0.9750</td>
    <td class="ljjz black">0.9750</td>
    <td class="rzzz  green">-0.0010</td>
    <td class="rzzl bg green">-0.10%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_020036.html">0.00%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=020036">购买</a></td>
  </tr>
  <tr id="tr020035" class="odd">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk020035"></td>
    <td class="xh">52</td>
    <td class="bzdm">020035</td>
    <td class="tol">
      <nobr>
        <a title="国泰上证5年期国债联接A" href="020035.html">国泰上证5年期国债联接A</a><a href="020035.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,020035.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">0.9680</td>
    <td class="ljjz black">0.9680</td>
    <td class="dwjz black">0.9690</td>
    <td class="ljjz black">0.9690</td>
    <td class="rzzz  green">-0.0010</td>
    <td class="rzzl bg green">-0.10%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_020035.html">0.05%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=020035">购买</a></td>
  </tr>
  <tr id="tr001241">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk001241"></td>
    <td class="xh">53</td>
    <td class="bzdm">001241</td>
    <td class="tol">
      <nobr>
        <a title="国寿安保中证500ETF联接" href="001241.html">国寿安保中证500ETF联</a><a href="001241.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,001241.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">0.5738</td>
    <td class="ljjz black">0.5738</td>
    <td class="dwjz black">0.5744</td>
    <td class="ljjz black">0.5744</td>
    <td class="rzzz  green">-0.0006</td>
    <td class="rzzl bg green">-0.10%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_001241.html">0.12%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=001241">购买</a></td>
  </tr>
  <tr id="tr160119" class="odd">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk160119"></td>
    <td class="xh">54</td>
    <td class="bzdm">160119</td>
    <td class="tol">
      <nobr>
        <a title="南方中证500ETF联接" href="160119.html">南方中证500ETF联接</a><a href="160119.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,160119.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">1.5076</td>
    <td class="ljjz black">1.6076</td>
    <td class="dwjz black">1.5092</td>
    <td class="ljjz black">1.6092</td>
    <td class="rzzz  green">-0.0016</td>
    <td class="rzzl bg green">-0.11%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_160119.html">0.12%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=160119">购买</a></td>
  </tr>
  <tr id="tr001351">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk001351"></td>
    <td class="xh">55</td>
    <td class="bzdm">001351</td>
    <td class="tol">
      <nobr>
        <a title="诺安中证500ETF联接" href="001351.html">诺安中证500ETF联接</a><a href="001351.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,001351.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">0.8476</td>
    <td class="ljjz black">0.8476</td>
    <td class="dwjz black">0.8485</td>
    <td class="ljjz black">0.8485</td>
    <td class="rzzz  green">-0.0009</td>
    <td class="rzzl bg green">-0.11%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_001351.html">0.10%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=001351">购买</a></td>
  </tr>
  <tr id="tr000217" class="odd">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk000217"></td>
    <td class="xh">56</td>
    <td class="bzdm">000217</td>
    <td class="tol">
      <nobr>
        <a title="华安黄金易ETF联接C" href="000217.html">华安黄金易ETF联接C</a><a href="000217.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,000217.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">1.0026</td>
    <td class="ljjz black">1.0026</td>
    <td class="dwjz black">1.0037</td>
    <td class="ljjz black">1.0037</td>
    <td class="rzzz  green">-0.0011</td>
    <td class="rzzl bg green">-0.11%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_000217.html">0.00%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=000217">购买</a></td>
  </tr>
  <tr id="tr000216">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk000216"></td>
    <td class="xh">57</td>
    <td class="bzdm">000216</td>
    <td class="tol">
      <nobr>
        <a title="华安黄金易ETF联接A" href="000216.html">华安黄金易ETF联接A</a><a href="000216.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,000216.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">1.0061</td>
    <td class="ljjz black">1.0061</td>
    <td class="dwjz black">1.0073</td>
    <td class="ljjz black">1.0073</td>
    <td class="rzzz  green">-0.0012</td>
    <td class="rzzl bg green">-0.12%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_000216.html">0.06%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=000216">购买</a></td>
  </tr>
  <tr id="tr202025" class="odd">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk202025"></td>
    <td class="xh">58</td>
    <td class="bzdm">202025</td>
    <td class="tol">
      <nobr>
        <a title="南方上证380联接" href="202025.html">南方上证380联接</a><a href="202025.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,202025.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">1.4580</td>
    <td class="ljjz black">1.4580</td>
    <td class="dwjz black">1.4598</td>
    <td class="ljjz black">1.4598</td>
    <td class="rzzz  green">-0.0018</td>
    <td class="rzzl bg green">-0.12%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_202025.html">0.12%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=202025">购买</a></td>
  </tr>
  <tr id="tr001455">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk001455"></td>
    <td class="xh">59</td>
    <td class="bzdm">001455</td>
    <td class="tol">
      <nobr>
        <a title="景顺长城中证500ETF联接" href="001455.html">景顺长城中证500ETF联</a><a href="001455.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,001455.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">0.8010</td>
    <td class="ljjz black">0.8010</td>
    <td class="dwjz black">0.8020</td>
    <td class="ljjz black">0.8020</td>
    <td class="rzzz  green">-0.0010</td>
    <td class="rzzl bg green">-0.12%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_001455.html">0.12%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=001455">购买</a></td>
  </tr>
  <tr id="tr000307" class="odd">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk000307"></td>
    <td class="xh">60</td>
    <td class="bzdm">000307</td>
    <td class="tol">
      <nobr>
        <a title="易方达黄金ETF联接A" href="000307.html">易方达黄金ETF联接A</a><a href="000307.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,000307.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">0.9684</td>
    <td class="ljjz black">0.9684</td>
    <td class="dwjz black">0.9698</td>
    <td class="ljjz black">0.9698</td>
    <td class="rzzz  green">-0.0014</td>
    <td class="rzzl bg green">-0.14%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_000307.html">0.07%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=000307">购买</a></td>
  </tr>
  <tr id="tr002610">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk002610"></td>
    <td class="xh">61</td>
    <td class="bzdm">002610</td>
    <td class="tol">
      <nobr>
        <a title="博时黄金ETF联接A" href="002610.html">博时黄金ETF联接A</a><a href="002610.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,002610.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">0.9579</td>
    <td class="ljjz black">0.9579</td>
    <td class="dwjz black">0.9593</td>
    <td class="ljjz black">0.9593</td>
    <td class="rzzz  green">-0.0014</td>
    <td class="rzzl bg green">-0.15%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_002610.html">0.06%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=002610">购买</a></td>
  </tr>
  <tr id="tr002611" class="odd">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk002611"></td>
    <td class="xh">62</td>
    <td class="bzdm">002611</td>
    <td class="tol">
      <nobr>
        <a title="博时黄金ETF联接C" href="002611.html">博时黄金ETF联接C</a><a href="002611.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,002611.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">0.9548</td>
    <td class="ljjz black">0.9548</td>
    <td class="dwjz black">0.9562</td>
    <td class="ljjz black">0.9562</td>
    <td class="rzzz  green">-0.0014</td>
    <td class="rzzl bg green">-0.15%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_002611.html">0.00%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=002611">购买</a></td>
  </tr>
  <tr id="tr001052">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk001052"></td>
    <td class="xh">63</td>
    <td class="bzdm">001052</td>
    <td class="tol">
      <nobr>
        <a title="华夏中证500ETF联接" href="001052.html">华夏中证500ETF联接</a><a href="001052.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,001052.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">0.6510</td>
    <td class="ljjz black">0.6510</td>
    <td class="dwjz black">0.6520</td>
    <td class="ljjz black">0.6520</td>
    <td class="rzzz  green">-0.0010</td>
    <td class="rzzl bg green">-0.15%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_001052.html">0.12%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=001052">购买</a></td>
  </tr>
  <tr id="tr000218" class="odd">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk000218"></td>
    <td class="xh">64</td>
    <td class="bzdm">000218</td>
    <td class="tol">
      <nobr>
        <a title="国泰黄金ETF联接" href="000218.html">国泰黄金ETF联接</a><a href="000218.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,000218.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">1.0328</td>
    <td class="ljjz black">1.0328</td>
    <td class="dwjz black">1.0344</td>
    <td class="ljjz black">1.0344</td>
    <td class="rzzz  green">-0.0016</td>
    <td class="rzzl bg green">-0.15%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_000218.html">0.07%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=000218">购买</a></td>
  </tr>
  <tr id="tr002963">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk002963"></td>
    <td class="xh">65</td>
    <td class="bzdm">002963</td>
    <td class="tol">
      <nobr>
        <a title="易方达黄金ETF联接C" href="002963.html">易方达黄金ETF联接C</a><a href="002963.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,002963.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">0.9670</td>
    <td class="ljjz black">0.9670</td>
    <td class="dwjz black">0.9685</td>
    <td class="ljjz black">0.9685</td>
    <td class="rzzz  green">-0.0015</td>
    <td class="rzzl bg green">-0.15%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_002963.html">0.00%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=002963">购买</a></td>
  </tr>
  <tr id="tr519032" class="odd">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk519032"></td>
    <td class="xh">66</td>
    <td class="bzdm">519032</td>
    <td class="tol">
      <nobr>
        <a title="海富通上证非周期联接" href="519032.html">海富通上证非周期联接</a><a href="519032.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,519032.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">1.0790</td>
    <td class="ljjz black">1.0790</td>
    <td class="dwjz black">1.0810</td>
    <td class="ljjz black">1.0810</td>
    <td class="rzzz  green">-0.0020</td>
    <td class="rzzl bg green">-0.19%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_519032.html">0.12%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=519032">购买</a></td>
  </tr>
  <tr id="tr003194">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk003194"></td>
    <td class="xh">67</td>
    <td class="bzdm">003194</td>
    <td class="tol">
      <nobr>
        <a title="汇添富中证上海国企ETF联接" href="003194.html">汇添富中证上海国企ETF联</a><a href="003194.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,003194.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">0.9697</td>
    <td class="ljjz black">0.9697</td>
    <td class="dwjz black">0.9720</td>
    <td class="ljjz black">0.9720</td>
    <td class="rzzz  green">-0.0023</td>
    <td class="rzzl bg green">-0.24%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_003194.html">0.12%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=003194">购买</a></td>
  </tr>
  <tr id="tr002977" class="odd">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk002977"></td>
    <td class="xh">68</td>
    <td class="bzdm">002977</td>
    <td class="tol">
      <nobr>
        <a title="广发中证全指可选消费联接C" href="002977.html">广发中证全指可选消费联接C</a><a href="002977.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,002977.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">0.7944</td>
    <td class="ljjz black">0.7944</td>
    <td class="dwjz black">0.7963</td>
    <td class="ljjz black">0.7963</td>
    <td class="rzzz  green">-0.0019</td>
    <td class="rzzl bg green">-0.24%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_002977.html">0.00%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=002977">购买</a></td>
  </tr>
  <tr id="tr217017">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk217017"></td>
    <td class="xh">69</td>
    <td class="bzdm">217017</td>
    <td class="tol">
      <nobr>
        <a title="招商上证消费80联接" href="217017.html">招商上证消费80联接</a><a href="217017.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,217017.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">1.2530</td>
    <td class="ljjz black">1.2530</td>
    <td class="dwjz black">1.2560</td>
    <td class="ljjz black">1.2560</td>
    <td class="rzzz  green">-0.0030</td>
    <td class="rzzl bg green">-0.24%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_217017.html">0.15%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=217017">购买</a></td>
  </tr>
  <tr id="tr001133" class="odd">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk001133"></td>
    <td class="xh">70</td>
    <td class="bzdm">001133</td>
    <td class="tol">
      <nobr>
        <a title="广发中证全指可选消费联接A" href="001133.html">广发中证全指可选消费联接A</a><a href="001133.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,001133.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">0.7924</td>
    <td class="ljjz black">0.7924</td>
    <td class="dwjz black">0.7943</td>
    <td class="ljjz black">0.7943</td>
    <td class="rzzz  green">-0.0019</td>
    <td class="rzzl bg green">-0.24%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_001133.html">0.12%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=001133">购买</a></td>
  </tr>
  <tr id="tr000373">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk000373"></td>
    <td class="xh">71</td>
    <td class="bzdm">000373</td>
    <td class="tol">
      <nobr>
        <a title="华安中证细分医药ETF联接A" href="000373.html">华安中证细分医药ETF联接</a><a href="000373.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,000373.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">1.1670</td>
    <td class="ljjz black">1.1670</td>
    <td class="dwjz black">1.1700</td>
    <td class="ljjz black">1.1700</td>
    <td class="rzzz  green">-0.0030</td>
    <td class="rzzl bg green">-0.26%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_000373.html">0.12%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=000373">购买</a></td>
  </tr>
  <tr id="tr000376" class="odd">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk000376"></td>
    <td class="xh">72</td>
    <td class="bzdm">000376</td>
    <td class="tol">
      <nobr>
        <a title="华安中证细分医药ETF联接C" href="000376.html">华安中证细分医药ETF联接</a><a href="000376.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,000376.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">1.1540</td>
    <td class="ljjz black">1.1540</td>
    <td class="dwjz black">1.1570</td>
    <td class="ljjz black">1.1570</td>
    <td class="rzzz  green">-0.0030</td>
    <td class="rzzl bg green">-0.26%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_000376.html">0.00%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=000376">购买</a></td>
  </tr>
  <tr id="tr270026">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk270026"></td>
    <td class="xh">73</td>
    <td class="bzdm">270026</td>
    <td class="tol">
      <nobr>
        <a title="广发中小板300联接" href="270026.html">广发中小板300联接</a><a href="270026.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,270026.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">1.1305</td>
    <td class="ljjz black">1.1305</td>
    <td class="dwjz black">1.1335</td>
    <td class="ljjz black">1.1335</td>
    <td class="rzzz  green">-0.0030</td>
    <td class="rzzl bg green">-0.26%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_270026.html">0.12%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=270026">购买</a></td>
  </tr>
  <tr id="tr320014" class="odd">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk320014"></td>
    <td class="xh">74</td>
    <td class="bzdm">320014</td>
    <td class="tol">
      <nobr>
        <a title="诺安上证新兴联接" href="320014.html">诺安上证新兴联接</a><a href="320014.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,320014.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">1.0940</td>
    <td class="ljjz black">1.0940</td>
    <td class="dwjz black">1.0970</td>
    <td class="ljjz black">1.0970</td>
    <td class="rzzz  green">-0.0030</td>
    <td class="rzzl bg green">-0.27%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_320014.html">0.12%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=320014">购买</a></td>
  </tr>
  <tr id="tr110019">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk110019"></td>
    <td class="xh">75</td>
    <td class="bzdm">110019</td>
    <td class="tol">
      <nobr>
        <a title="易方达深证100联接" href="110019.html">易方达深证100联接</a><a href="110019.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,110019.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">0.9747</td>
    <td class="ljjz black">0.9747</td>
    <td class="dwjz black">0.9776</td>
    <td class="ljjz black">0.9776</td>
    <td class="rzzz  green">-0.0029</td>
    <td class="rzzl bg green">-0.30%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_110019.html">0.12%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=110019">购买</a></td>
  </tr>
  <tr id="tr470068" class="odd">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk470068"></td>
    <td class="xh">76</td>
    <td class="bzdm">470068</td>
    <td class="tol">
      <nobr>
        <a title="汇添富深证300ETF联接" href="470068.html">汇添富深证300ETF联接</a><a href="470068.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,470068.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">1.2781</td>
    <td class="ljjz black">1.2781</td>
    <td class="dwjz black">1.2821</td>
    <td class="ljjz black">1.2821</td>
    <td class="rzzz  green">-0.0040</td>
    <td class="rzzl bg green">-0.31%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_470068.html">0.10%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=470068">购买</a></td>
  </tr>
  <tr id="tr202017">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk202017"></td>
    <td class="xh">77</td>
    <td class="bzdm">202017</td>
    <td class="tol">
      <nobr>
        <a title="南方深成联接" href="202017.html">南方深成联接</a><a href="202017.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,202017.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">0.8120</td>
    <td class="ljjz black">0.8120</td>
    <td class="dwjz black">0.8146</td>
    <td class="ljjz black">0.8146</td>
    <td class="rzzz  green">-0.0026</td>
    <td class="rzzl bg green">-0.32%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_202017.html">0.12%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=202017">购买</a></td>
  </tr>
  <tr id="tr000950" class="odd">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk000950"></td>
    <td class="xh">78</td>
    <td class="bzdm">000950</td>
    <td class="tol">
      <nobr>
        <a title="易方达沪深300非银ETF联接" href="000950.html">易方达沪深300非银ETF</a><a href="000950.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,000950.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">0.7698</td>
    <td class="ljjz black">0.7698</td>
    <td class="dwjz black">0.7723</td>
    <td class="ljjz black">0.7723</td>
    <td class="rzzz  green">-0.0025</td>
    <td class="rzzl bg green">-0.32%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_000950.html">0.10%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=000950">购买</a></td>
  </tr>
  <tr id="tr002978">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk002978"></td>
    <td class="xh">79</td>
    <td class="bzdm">002978</td>
    <td class="tol">
      <nobr>
        <a title="广发医药卫生联接C" href="002978.html">广发医药卫生联接C</a><a href="002978.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,002978.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">0.7767</td>
    <td class="ljjz black">0.7767</td>
    <td class="dwjz black">0.7795</td>
    <td class="ljjz black">0.7795</td>
    <td class="rzzz  green">-0.0028</td>
    <td class="rzzl bg green">-0.36%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_002978.html">0.00%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=002978">购买</a></td>
  </tr>
  <tr id="tr001180" class="odd">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk001180"></td>
    <td class="xh">80</td>
    <td class="bzdm">001180</td>
    <td class="tol">
      <nobr>
        <a title="广发医药卫生联接A" href="001180.html">广发医药卫生联接A</a><a href="001180.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,001180.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">0.7777</td>
    <td class="ljjz black">0.7777</td>
    <td class="dwjz black">0.7806</td>
    <td class="ljjz black">0.7806</td>
    <td class="rzzz  green">-0.0029</td>
    <td class="rzzl bg green">-0.37%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_001180.html">0.12%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=001180">购买</a></td>
  </tr>
  <tr id="tr003017">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk003017"></td>
    <td class="xh">81</td>
    <td class="bzdm">003017</td>
    <td class="tol">
      <nobr>
        <a title="广发中证军工ETF联接" href="003017.html">广发中证军工ETF联接</a><a href="003017.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,003017.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">0.9829</td>
    <td class="ljjz black">0.9829</td>
    <td class="dwjz black">0.9878</td>
    <td class="ljjz black">0.9878</td>
    <td class="rzzz  green">-0.0049</td>
    <td class="rzzl bg green">-0.50%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_003017.html">0.12%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=003017">购买</a></td>
  </tr>
  <tr id="tr217019" class="odd">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk217019"></td>
    <td class="xh">82</td>
    <td class="bzdm">217019</td>
    <td class="tol">
      <nobr>
        <a title="招商深证TMT50联接" href="217019.html">招商深证TMT50联接</a><a href="217019.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,217019.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">1.3330</td>
    <td class="ljjz black">1.3330</td>
    <td class="dwjz black">1.3400</td>
    <td class="ljjz black">1.3400</td>
    <td class="rzzz  green">-0.0070</td>
    <td class="rzzl bg green">-0.52%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_217019.html">0.15%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=217019">购买</a></td>
  </tr>
  <tr id="tr206010">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk206010"></td>
    <td class="xh">83</td>
    <td class="bzdm">206010</td>
    <td class="tol">
      <nobr>
        <a title="鹏华深证民营联接" href="206010.html">鹏华深证民营联接</a><a href="206010.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,206010.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">1.1716</td>
    <td class="ljjz black">1.1716</td>
    <td class="dwjz black">1.1780</td>
    <td class="ljjz black">1.1780</td>
    <td class="rzzz  green">-0.0064</td>
    <td class="rzzl bg green">-0.54%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_206010.html">0.12%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=206010">购买</a></td>
  </tr>
  <tr id="tr070030" class="odd">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk070030"></td>
    <td class="xh">84</td>
    <td class="bzdm">070030</td>
    <td class="tol">
      <nobr>
        <a title="嘉实中创400联接" href="070030.html">嘉实中创400联接</a><a href="070030.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,070030.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">1.7938</td>
    <td class="ljjz black">1.7938</td>
    <td class="dwjz black">1.8038</td>
    <td class="ljjz black">1.8038</td>
    <td class="rzzz  green">-0.0100</td>
    <td class="rzzl bg green">-0.55%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_070030.html">0.12%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=070030">购买</a></td>
  </tr>
  <tr id="tr001713">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk001713"></td>
    <td class="xh">85</td>
    <td class="bzdm">001713</td>
    <td class="tol">
      <nobr>
        <a title="华润元大中创100ETF联接" href="001713.html">华润元大中创100ETF联</a><a href="001713.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,001713.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">0.9190</td>
    <td class="ljjz black">0.9190</td>
    <td class="dwjz black">0.9250</td>
    <td class="ljjz black">0.9250</td>
    <td class="rzzz  green">-0.0060</td>
    <td class="rzzl bg green">-0.65%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_001713.html">0.12%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=001713">购买</a></td>
  </tr>
  <tr id="tr090012" class="odd">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk090012"></td>
    <td class="xh">86</td>
    <td class="bzdm">090012</td>
    <td class="tol">
      <nobr>
        <a title="大成深证成长40联接" href="090012.html">大成深证成长40联接</a><a href="090012.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,090012.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">0.8950</td>
    <td class="ljjz black">0.8950</td>
    <td class="dwjz black">0.9010</td>
    <td class="ljjz black">0.9010</td>
    <td class="rzzz  green">-0.0060</td>
    <td class="rzzl bg green">-0.67%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_090012.html">0.12%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=090012">购买</a></td>
  </tr>
  <tr id="tr000942">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk000942"></td>
    <td class="xh">87</td>
    <td class="bzdm">000942</td>
    <td class="tol">
      <nobr>
        <a title="广发信息技术联接A" href="000942.html">广发信息技术联接A</a><a href="000942.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,000942.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">0.9919</td>
    <td class="ljjz black">0.9919</td>
    <td class="dwjz black">0.9992</td>
    <td class="ljjz black">0.9992</td>
    <td class="rzzz  green">-0.0073</td>
    <td class="rzzl bg green">-0.73%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_000942.html">0.12%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=000942">购买</a></td>
  </tr>
  <tr id="tr002900" class="odd">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk002900"></td>
    <td class="xh">88</td>
    <td class="bzdm">002900</td>
    <td class="tol">
      <nobr>
        <a title="南方中证500信息技术联接" href="002900.html">南方中证500信息技术联接</a><a href="002900.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,002900.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">0.8883</td>
    <td class="ljjz black">0.8883</td>
    <td class="dwjz black">0.8949</td>
    <td class="ljjz black">0.8949</td>
    <td class="rzzz  green">-0.0066</td>
    <td class="rzzl bg green">-0.74%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_002900.html">0.12%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=002900">购买</a></td>
  </tr>
  <tr id="tr002974">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk002974"></td>
    <td class="xh">89</td>
    <td class="bzdm">002974</td>
    <td class="tol">
      <nobr>
        <a title="广发信息技术联接C" href="002974.html">广发信息技术联接C</a><a href="002974.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,002974.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">0.9923</td>
    <td class="ljjz black">0.9923</td>
    <td class="dwjz black">0.9997</td>
    <td class="ljjz black">0.9997</td>
    <td class="rzzz  green">-0.0074</td>
    <td class="rzzl bg green">-0.74%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_002974.html">0.00%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=002974">购买</a></td>
  </tr>
  <tr id="tr001361" class="odd">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk001361"></td>
    <td class="xh">90</td>
    <td class="bzdm">001361</td>
    <td class="tol">
      <nobr>
        <a title="景顺中证TMT150ETF联接" href="001361.html">景顺中证TMT150ETF</a><a href="001361.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,001361.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">0.5600</td>
    <td class="ljjz black">0.5600</td>
    <td class="dwjz black">0.5650</td>
    <td class="ljjz black">0.5650</td>
    <td class="rzzz  green">-0.0050</td>
    <td class="rzzl bg green">-0.89%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_001361.html">0.12%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=001361">购买</a></td>
  </tr>
  <tr id="tr002656">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk002656"></td>
    <td class="xh">91</td>
    <td class="bzdm">002656</td>
    <td class="tol">
      <nobr>
        <a title="南方创业板ETF联接" href="002656.html">南方创业板ETF联接</a><a href="002656.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,002656.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">0.8785</td>
    <td class="ljjz black">0.8785</td>
    <td class="dwjz black">0.8898</td>
    <td class="ljjz black">0.8898</td>
    <td class="rzzz  green">-0.0113</td>
    <td class="rzzl bg green">-1.27%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_002656.html">0.12%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=002656">购买</a></td>
  </tr>
  <tr id="tr110026" class="odd">
    <td class="gz"><a class="noAttention" title="点击关注"></a></td>
    <td class="db"><input type="checkbox" id="chk110026"></td>
    <td class="xh">92</td>
    <td class="bzdm">110026</td>
    <td class="tol">
      <nobr>
        <a title="易方达创业板联接" href="110026.html">易方达创业板联接</a><a href="110026.html">估值图</a><a href="http://jijinba.eastmoney.com/topic,110026.html">基金吧</a>
      </nobr>
    </td>
    <td class="dwjz black">1.9121</td>
    <td class="ljjz black">1.9121</td>
    <td class="dwjz black">1.9370</td>
    <td class="ljjz black">1.9370</td>
    <td class="rzzz  green">-0.0249</td>
    <td class="rzzl bg green">-1.29%</td>
    <td class="sgzt">开放</td>
    <td class="shzt">开放</td>
    <td>
      <div class="yhfl">
        <div class="rate_f"><a class="zkf" href="http://fund.eastmoney.com/f10/jjfl_110026.html">0.12%</a></div>
      </div>
    </td>
    <td class="bi"><a href="https://trade.1234567.com.cn/FundtradePage/default2.aspx?fc=110026">购买</a></td>
  </tr>
  </tbody>
</table>
