<td>
  <% if project.had_recommend_by?(current_user) %>
    <%= button_to project_recommend_path(project), remote: true, method: :delete do %>
      取消推荐
    <% end %>
  <% else %>
    <%= button_to project_recommend_path(project), remote: true do %>
      推荐
    <% end %>        
  <% end %>


</td>

<td>
  <%= link_to recommend_project_path(project) do %>
    <%= project.user_recommend_projects.size %>
  <% end %>
</td>
