<div class="btn-group" id="<%= dom_id(project, 'star') %>">
  <%= render "projects/star_status", project: project %>
</div>


<div class="btn-group" id="<%= dom_id(project, 'recommend') %>">
  <%= render "projects/recommend_status", project: project %>
</div>
