<hr>


<h3>操作</h3>
<table class="inset">
  <tbody>
  <tr id="<%= dom_id(project, 'star') %>">
    <%= render "projects/star_status", project: project %>
  </tr>

  <tr id="<%= dom_id(project, 'recommend') %>">
    <%= render "projects/recommend_status", project: project %>
  </tr>
  </tbody>
</table>
