<td>
  <% if project.had_star_by?(current_user) %>
    <%= button_to project_star_path(project), remote: true, method: :delete do %>
      取消收藏
    <% end %>
  <% else %>
    <%= button_to project_star_path(project), remote: true do %>
      收藏
    <% end %>
  <% end %>
</td>

<td>
  <%= link_to star_project_path(project) do %>
    <%= project.user_star_projects.size %>
  <% end %>
</td>
