<% set_meta_tags title: "Projects" %>

<% @projects.each_slice(2).each do |projects| %>
  <div class="col-md-12">
    <% projects.each do |project| %>
      <div class="col-md-6 xs-no-padding">
        <%= render "projects/item", project: project %>
      </div>
    <% end %>
  </div>

  <hr>
<% end %>

<div class="col-md-12">
  <div class="text-center">
    <%= paginate @projects %>
  </div>
</div>
