<% set_meta_tags title: "Projects" %>

<% content_for :content_css_link_yield do %>
  <%= stylesheet_link_tag 'projects' %>
<% end %>


<div class="title-box">

  <h1>
    股票型、混合型、债券型、指数型、保本型、QDII、LOF等基金数据。

    <!-- <small> -->
    <!-- </small> -->

    <small class="pull-right">
      <%= @projects.unscope(:limit, :offset).count %>
      <%#= link_to 'New Project', new_project_path %>
    </small>
  </h1>

</div>


<% @projects.each_slice(2).each do |projects| %>
  <div class="col-md-12">
    <% projects.each do |project| %>
      <div class="col-md-6 xs-no-padding">
        <%= render "projects/item", project: project %>
      </div>
    <% end %>
  </div>

  <hr>
<% end %>

<div class="col-md-12">
  <div class="text-center">
    <%= magic_paginate @projects %>
  </div>
</div>
