

<div class="panel panel-default">
  <div class="panel-heading">
    <h1>
      <%= link_to @project.name, @project %> popularity
    </h1>
  </div>

  <div class="panel-body">
    <div class="col-md-6">
      <h2>Github Repository</h2>
      <p>The highest rated repository is rails/rails with 30890 watchers and 12525 forks, resulting in a Github score of 99.99</p>
    </div>

    <div class="col-md-6">
      <h2>Rubygem</h2>

      <p>The highest rated Rubygem is rake with 111305426 total downloads</p>
    </div>
  </div>
</div>