<div class="form-group">
  <label>
    三年评级：
  </label>

  <div style="display: inline-block;">
    <% 5.downto(0).each do |item| %>
      <%= label_tag "three_year_rating_#{item}" do %>
        <%= check_box_tag "three_year_rating[]", item, checked_rating('three_year_rating', item), id: "three_year_rating_#{item}" %>

        <% if item.zero? %>
          --
        <% else %>
          <% item.times do %>
            <i class="fa fa-star"></i>
          <% end %>
        <% end %>
      <% end %>

      &nbsp;&nbsp;
    <% end %>
  </div>
</div>
