<h1>
  Editing Panel Category

  <small>
    <%= link_to 'Show', @panel_category %>
  </small>

  <small class="pull-right">
    <%= link_to 'Back', search_panel_categories_path(name: @panel_category.name) %>
  </small>
</h1>

<%= render 'form', panel_category: @panel_category %>

