<h1>
  Panel Categories

  <small>
    <%= link_to 'New Panel Category', new_panel_category_path %>
  </small>
</h1>

<table class="table table-striped">
  <thead>
    <%= render "panel/categories/th" %>
  </thead>

  <tbody>
    <% @panel_categories.each do |panel_category| %>
      <%= render "panel/categories/tbody", panel_category: panel_category %>
    <% end %>
  </tbody>
</table>

<%= paginate @panel_categories %>
