<% set_meta_tags title: "最佳业绩", description: "基金公司: 设立以来业绩最佳, 最近三年业绩最佳, 今年以来业绩最佳, 回报率" %>

<div class="container content">
  <h1>最佳业绩</h1>

  <p>
    序号  基金公司  设立以来业绩最佳  回报率
  (%) 最近三年业绩最佳  回报率
  (%) 今年以来业绩最佳  回报率
  (%)
  </p>
</div>
