<% set_meta_tags title: "业绩分布", description: "基金公司: 同类排名, 回报率" %>

<div class="container content">
  <h1>业绩分布</h1>

  <p>
    序号  基金公司  同类排名
  前1/4  同类排名
  前1/2  同类排名
  后1/2  同类排名
  后1/4  回报率
  <0% 回报率
  0~10% 回报率
  10~20%  回报率
  20~30%  回报率
  30~50%  回报率
  >50%
  </p>
</div>
