<% set_meta_tags title: "星级分布", description: "基金公司: 旗下基金, 五星基金, 四星基金, 三星基金, 两星基金, 一星基金, 未评级基金" %>

<div class="container content">

  <h1>星级分布</h1>

  <p>
    序号  基金公司  旗下基金
  (只) 五星基金
  (只) 四星基金
  (只) 三星基金
  (只) 两星基金
  (只) 一星基金
  (只) 未评级基金
  (只)
  </p>
</div>
