<div class="footer-v1">
  <div class="footer">
    <div class="container">
      <div class="row">
        <!-- About -->
        <div class="col-md-3 md-margin-bottom-40">
          <a href="index.html">
            <img id="logo-footer" class="footer-logo" src="assets/img/logo2-default.png" alt="">
          </a>

          <p>基金工具箱专注于收集、整理历年来各基金数据，以指导下一步投资计划，增长财富。</p>

          <p>平台以优质内容为核心，通过对不同领域、不同地区的具体项目以及理财产品的交流讨论，最大程度解决信息不对称的问题，并直接提供相关产品的购买建议。</p>
        </div><!--/col-md-3-->
        <!-- End About -->

        <!-- Latest -->
        <div class="col-md-3 md-margin-bottom-40">
          <div class="posts">
            <div class="headline"><h2>最近文章</h2></div>
            <ul class="list-unstyled latest-list">
              <li>
                <a href="#">Incredible content</a>
                <small>May 8, 2014</small>
              </li>
              <li>
                <a href="#">Best shoots</a>
                <small>June 23, 2014</small>
              </li>
              <li>
                <a href="#">New Terms and Conditions</a>
                <small>September 15, 2014</small>
              </li>
            </ul>
          </div>
        </div><!--/col-md-3-->
        <!-- End Latest -->

        <!-- Link List -->
        <div class="col-md-3 md-margin-bottom-40">
          <div class="headline"><h2>基金工具箱</h2></div>
          <ul class="list-unstyled link-list">
            <li><a href="#">About us</a><i class="fa fa-angle-right"></i></li>
            <li><a href="#">Portfolio</a><i class="fa fa-angle-right"></i></li>
            <li><a href="#">Latest jobs</a><i class="fa fa-angle-right"></i></li>
            <li><a href="#">Community</a><i class="fa fa-angle-right"></i></li>
            <li><a href="#">Contact us</a><i class="fa fa-angle-right"></i></li>
          </ul>
        </div><!--/col-md-3-->
        <!-- End Link List -->

        <!-- Address -->
        <div class="col-md-3 map-img md-margin-bottom-40">
          <div class="headline"><h2>联系我们</h2></div>
          <address class="md-margin-bottom-40">
            25, Lorem Lis Street, Orange <br />
            California, US <br />
            Phone: 800 123 3456 <br />
            Fax: 800 123 3456 <br />
            Email: <a href="mailto:info@anybiz.com" class="">info@anybiz.com</a>
          </address>
        </div><!--/col-md-3-->
        <!-- End Address -->
      </div>
    </div>
  </div><!--/footer-->

  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>
            2017 &copy; All Rights Reserved.
            <%= link_to "数据来源", "" %> | <%= link_to "免责声明", "disclaimer" %>
          </p>
        </div>

        <!-- Social Links -->
        <div class="col-md-6">
          <ul class="footer-socials list-inline">
            <li>
              <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Skype">
                <i class="fa fa-skype"></i>
              </a>
            </li>
            <li>
              <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus">
                <i class="fa fa-google-plus"></i>
              </a>
            </li>
            <li>
              <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
            <li>
              <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest">
                <i class="fa fa-pinterest"></i>
              </a>
            </li>
            <li>
              <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Dribbble">
                <i class="fa fa-dribbble"></i>
              </a>
            </li>
          </ul>
        </div>
        <!-- End Social Links -->
      </div>
    </div>
  </div><!--/copyright-->
</div>
