/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 *= require 'bootstrap-with-sticky-footer-navbar'
 *= require 'ie10-viewport-bug-workaround'
 *= require font-awesome
 *= require select2
 *= require select2-bootstrap
 *= require_self
 */

@import "variables";

@media (max-width: 767px) {
  .custom-nav {
    display: inline-block !important;
    margin: 0;
  }

  .custom-nav > li {
    display: inline-block;
  }

  .custom-nav > li > a {
    padding: 15px 7px 15px 8px;
  }
}

li.project-item {
  /*hr:last-child {*/
    /*margin-top: 20px;*/
    padding-bottom: 20px;
    margin-bottom: 20px;
    border: 0;
    border-bottom: 1px solid #eeeeee;
  /*}*/

  .title {
    margin-bottom: 10px;

    a {
      color: #333;
      text-decoration: none;
    }

    a:hover {
      color: #EB5424;
      text-decoration: none;
    }

    small {
      a {
        color: #777;
      }
    }
  }

  .description {
    margin-bottom: 2px;
    color: #333;
  }
}

li.project-item:last-child {
  /*hr:last-child {*/
    /*margin-top: 20px;*/
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
    /*border-bottom: 1px solid #eeeeee;*/
  /*}*/
}

.clearfix {
  clear: both;
}

/*h1, h2, h3, h4, h5 {
  color: $main-color;
}

h1, h2, h3, h4, h5 {
  a {
    color: $main-color;
  }

  a:hover {
    color: $hover-main-color;
  }
}
*/

.sign_in, .sign_up {
  padding-bottom: 35px;
}

.nav.navbar-nav > .nav-item {
  a:hover {
    color: #EB5424;
  }
}

.breadcrumb.catalog-category-etc {
  background-color: white;
  padding-top: 15px;
  padding-bottom: 15px;

  li.normal {
    a {
      color: #333;
      text-decoration: none;
    }

    a:hover {
      color: #EB5424;
      text-decoration: none;
    }
  }
}

.popular-projects {
  .brother .popular-item {
    a {
      color: #777;
      text-decoration: none;
    }

    a:hover {
      color: #EB5424;
      text-decoration: none;
    }
  }

  @media (max-width: 767px) {
    .brother .popular-item {
      margin-bottom: 5px;
    }

    .brother:last-child .popular-item {
      margin-bottom: 0;
    }
  }
}


.prepend-button-append-link {
  float: left;

  button.prepend-button {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
