.catalogs .content {
  padding-bottom: 5px;
}

.catalogs .title {
  background-color: white;
  padding: 15px;
  margin-bottom: 20px;

  h1 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.catalogs .breadcrumb.catalog-category-etc {
  background-color: white;
  padding-top: 15px;
  padding-bottom: 15px;
}

.catalogs {
  .catalog-list {
    padding-left: 0;
  }

  .catalog-list > li {
    list-style-type: none;

    h2 {
      font-size: 24px;
    }
  }

  .catalog-list li:first-child h2 {
    margin-top: 0;
  }

  @media (min-width: 768px) {
    .category-list {
      li {
        margin-bottom: 5px;
        margin-top: 5px;
      }
    }
  }


  .show-catalog {
    h1 {
      font-size: 24px;
      margin-bottom: 5px;
      margin-top: 5px;
    }
  }
}
