.episodes {
  .panel {
    .panel-heading {
      .recommend-title {
        font-size: 18px;

        a:hover {
          color: #EB5424;
          text-decoration: none;
        }

      }
    }
  }
}