.episodes {
  .prefix {
    padding: 15px;

    h1.slogan {
      margin-bottom: 20px;
      margin-top: 20px;
      font-size: 24px;
    }
  }

  .panel {
    .panel-heading {
      .recommend-title {
        font-size: 18px;

        a:hover {
          color: #EB5424;
          text-decoration: none;
        }

      }
    }
  }
}