.fund_rankings, .quickrank {
  .table {
    thead.header-box {
      tr {
        th {
          vertical-align: top;
          text-align: center;
          font-weight: normal;
          border: 1px solid #ddd;
        }
      }
    }
  }
}