.home {
  .slogan {
    margin-bottom: 35px;
    margin-top: 20px;
  }

  .panel {
    .panel-heading {
      .top-catalog {
        display: inline-block;
        margin: 0;
        font-size: 16px;
        font-weight: normal;
      }
    }
  }
}
