.container.projects {
  margin-top: 0;
  padding: 15px;
}

.projects {
  .breadcrumb.catalog-category-etc {
    background-color: #f5f5f5;
    margin-bottom: 0;
  }

  .popular-projects {
    .category-breadcrumb {
      color: #777;

      a {
        color: #333;
        text-decoration: none;
      }

      a:hover {
        color: #EB5424;
        text-decoration: none;
      }
    }
  }

  .project-wraper {
    background-color: white;
    margin-bottom: 30px;

    .sideline {
      ul.links {
        padding-left: 0;
        list-style-type: none;
      }
    }
  }

  .readme-content {
    border-right: 2px solid #f5f5f5;

    .tab-content {
      img {
        max-width: 100%;
      }
    }


    .inline-headline {
      h1.name-title {
        border-left: 4px solid red;
        margin-left: -15px;
        padding-left: 11px;

        a {
          color: #333;
          text-decoration: none;
        }
      }
    }

    .github-popularity {
      a {
        color: #333;
      }
    }
  }

  .readme-content ul.attribution {
    clear: both;
    margin-bottom: 14px;
    margin-top: 0;
    padding-left: 0;

    li {
      display: inline-block;
      margin-right: 12px;
    }
  }

  .readme-content > nav {
    background-color: #f5f5f5;
    height: 48px;
    // margin: 0 -30px -30px;
    margin-bottom: 15px;
    padding: 12px 15px 15px;

    margin-left: -15px;
    margin-right: -15px;
  }

  .readme-content > .nav.nav-tabs {
    margin-left: -15px;
    margin-right: -15px;

    li {
      margin-bottom: 0;
    }
  }

  .readme-content>nav ul {
    margin: 0;
    padding-left: 0;

    li {
      display: inline-block;
      list-style-type: none;
    }
  }

  .append-panel-footer {
    border-bottom: 1px solid #ddd;
    border-top: none;

    .opts {
      .view-times {
        line-height: 34px;
      }
    }
  }
}

.projects {
  .proejct-new {
    padding-bottom: 35px;

    h1 {
      font-size: 24px;
    }

    h2 {
      font-size: 18px;
    }

    .new-project-form {
      .actions {
        margin-top: 30px;
      }
    }
  }
}

.half-thumb {
  width: 25px;
  height: 25px;
}

img.radius-50 {
  border-radius: 50%;
}
