table.quickrank-table {
  thead {
    tr {
      th {
        vertical-align: top;
        font-weight: normal;
      }
    }
  }
}

.delivery-style-box {
  label {
    margin-left: 10px;
  }

  label:first-child {
    margin-left: 0;
  }
}
