<div class="row">
  <div class="col-md-9">
    <ul>
      <% @categories.each do |category| %>
        <li><%= category.name %></li>

        <ul>
          <% category.packages.each do |package| %>
            <li>
              <%= link_to package.name, package %>
            </li>
          <% end %>
        </ul>
      <% end %>

    </ul>
  </div>

  <div class="col-md-3">
    col-md-3
  </div>
</div>
