<h1>
  Panel Projects

  <small>
    <%= link_to 'New Panel Project', new_panel_project_path %>
  </small>
</h1>

<table class="table table-striped">
  <thead>
    <%= render "panel/projects/thead" %>
  </thead>

  <tbody>
    <% @panel_projects.each do |panel_project| %>
      <%= render "panel/projects/tbody", panel_project: panel_project %>
    <% end %>
  </tbody>
</table>

<%= paginate @panel_projects %>
