<footer class="footer">
  <div class="container">
    <p class="text-muted">
      <%= Settings.website.slogan %>

      <%= link_to "DevDocs", "http://doc.zhenkuan.li", target: "_blank" %>
    </p>
  </div>
</footer>
