<!DOCTYPE html>
<html>
  <head>
    <title>Zhenkuan</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
      <div class="header">
        <!--  -->
      </div>

      <div class="container">
        <%= yield %>
      </div>

      <div class="footer">
        <!--  -->
      </div>
    </div>
  </body>
</html>
